._aboutus_content{
    width: 85%;
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    
  }
  /**************** section__upper ********************/
  ._aboutus_content .section__upper{
      display: flex;
      margin-bottom: 11.625vw;
  }
  
  ._aboutus_content .section__upper .section__home{
      flex: 40%;
      margin-left: 4.167vw;
  }
  
  ._aboutus_content .section__upper .section__home .sec__title{
      font-size: 6.771vw;
      font-weight: bold;
      color: var(--primary_color);
      width: 21.71875vw;
  }
  
  ._aboutus_content .section__upper .section__home .sect__subtitle{
      position: relative;
      font-size: 6.771vw;
      font-weight: bold;
      color: var(--primary_color);
      width: 21.71875vw;
  }
  ._aboutus_content .section__upper .section__home .sect__subtitle::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right:0;
      height: 0.20834vw;
      background-color: var(--primary_color);
      width: 7.8125vw;
    }
  
    ._aboutus_content .section__upper .section__home .sec__text{
      color: #6e6e6e;
      text-shadow: inset 3px 3px 6px #00000029;
      font-size: 1.5625vw;
      width: 28.59375vw;
      margin: 2.0834vw 0;
  }
  
  ._aboutus_content .section__upper .section__home .sec__link{
      color: var(--primary_color);
      font-size: 1.5625vw;
      font-weight: 600;
      text-decoration: none;
  }
  
  ._aboutus_content .section__upper .section__image{
      flex: 40%;
      position: relative;
  }
  
  ._aboutus_content .section__upper .section__image .sec__img{
      width: 48.125vw;
      height: 35.78125vw;
      margin-top: -6.25vw;
      margin-bottom: 7.8125vw;
  }
  
  ._aboutus_content .section__upper .section__image .sec_rect{
      position: absolute;
      bottom: 0;
      height: 3.335vw;
      background: #0136EE 0% 0% no-repeat padding-box;
  }
  
  ._aboutus_content .section__upper .section__image .rect_large{
      width: 30.46875vw;
  }
  
  ._aboutus_content .section__upper .section__image .rect_mid{
      width: 15.260416vw;
  }
  
  ._aboutus_content .section__upper .section__image .rect_small{
      width: 8.22916vw;
  }
  
  ._aboutus_content .section__upper .section__image .rect_right{
      right: -7.29167vw;
  }
  
  ._aboutus_content .section__upper .section__image .rect_left{
      left: -7.29167vw;
  }
  
  /***************** section__first *********************/
  
  ._aboutus_content .section__first{
    display: flex;
    margin-bottom: 11.625vw;
    align-items: center;
  }
  
  ._aboutus_content .section__first .section__info{
      flex: 50%;
      margin-left: 4.6875vw;
      text-align: center;
      margin-right: 4.6875vw;
  }
  
  ._aboutus_content .section__first .section__info .sec__title{
      font-size: 2.6041665vw;
      font-weight: bold;
      color: var(--primary_color);
      width: 21.71875vw;
      margin: auto;
      margin-top: 2.6041665vw;
  }
  
  ._aboutus_content .section__first .section__info .sect__subtitle{
      font-size: 1.5625vw;
      color: #6e6e6e;
      width: 21.71875vw;
      text-shadow: inset 3px 3px 6px #00000029;
      margin: auto;
      margin-top: 3.645835vw;
      margin-bottom: 3.645835vw;
  }
  
  ._aboutus_content .section__first .section__info .sect__subtitle img{
      width: 2.34375vw;
      height: 2.5vw;
  }
  
  ._aboutus_content .section__first .section__info .sec__text{
    margin: auto;
    color: #6e6e6e;
    font-size: 1.5625vw;
    margin: auto;
    text-align: center;
    width: 35.20836vw;
    /* height: 20.8332vw; */
    word-break: break-word;
  }
  
  
  ._aboutus_content .section__first .section__image{
      flex: 50%;
      position: relative;
  }
  
  ._aboutus_content .section__first .section__image .sec__img{
      width: 42.604164vw;
      height: 42.5vw;
      margin-top: 0;
      margin-bottom: 7.8125vw;
  }
  
  /***************** section__second *********************/
  
  ._aboutus_content .section__second{
      display: flex;
      align-items: center;
      margin-bottom: 13.625vw;
  }
  
  ._aboutus_content .section__second .section__info{
      flex: 50%;
      text-align: center;
      position: relative;
  }
  
  ._aboutus_content .section__second .section__info .sec__title{
      position: absolute;
      font-size: 2.604165vw;
      font-weight: bold;
      color: var(--primary_color);
      width: 21.71875vw;
      top: -8.854166vw;
      right: 9.375vw;
  
      
  }
  
  ._aboutus_content .section__second .section__info .sec__text{
    color: #6e6e6e;
    font-size: 1.5625vw;
    margin: auto;
    text-align: center;
    width: 35.208336vw;
    /* height: 20.8332vw; */
    margin-top: 7.8125vw;
    word-break: break-word;
  }
  
  ._aboutus_content .section__second .section__info .sec_shape{
      width: 42.1875vw;
      height: 38.4375vw;
      position: absolute;
      top: -3.6458335vw;
      left: -19.791668vw;;
  
  }
  
  
  ._aboutus_content .section__second .section__image{
      flex: 50%;
      position: relative;
  }
  
  ._aboutus_content .section__second .section__image .sec__img{
      width: 42.1354164vw;
      height: 28.125vw;
      margin-top: 0;
      margin-bottom: 7.8125vw;
  }
  
  /***************** section__third *********************/
  
  ._aboutus_content .section__third{
      display: flex;
      align-items: center;
  }
  
  ._aboutus_content .section__third .section__info{
      flex: 50%;
      text-align: center;
      position: relative;
  }
  
  ._aboutus_content .section__third .section__info .sec__title{
      position: absolute;
      font-size: 2.6041665vw;
      font-weight: bold;
      color: var(--primary_color);
      width: 21.71875vw;
      top: -7.8125vw;
      right: 9.375vw;
  
      
  }
  
  ._aboutus_content .section__third .section__info .sec__text{
      color: #6e6e6e;
      font-size: 1.5625vw;
      margin: auto;
      text-align: center;
      width: 35.208336vw;
      margin-top: 2.6041665vw;
      word-break: break-word;
  }
  
  
  
  ._aboutus_content .section__third .section__image{
      flex: 50%;
      position: relative;
  }
  
  ._aboutus_content .section__third .section__image .sec__img{
      width: 47.34375vw;
      height: 21.9791668vw;
      margin-top: 0;
      margin-bottom: 7.8125vw;
  }