/*===== Config =====*/
:root{
  --primary_color: #0136ee;
  --background_color: #f4f4f4;
  --text_color: #b1b1b1;

  --unnamed-color-f2f2f2: #F2F2F2;
  --unnamed-color-0136ee: #0136EE;
  --unnamed-color-f7f7f7: #F7F7F7;
  --unnamed-color-d1d1d1: #D1D1D1;
  --unnamed-color-3869a1: #3869A1;
  --unnamed-color-00244d: #00244D;
  --unnamed-color-1e6fcc: #1E6FCC;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-000000: #000000;
  --unnamed-color-b1b1b1: #B1B1B1;
  --unnamed-color-d40000: #D40000;
  --unnamed-color-707070: #707070;
}

.yellow{
  color: #ffc107;
}
.blue{
    color: #000cff;
}
.white{
    color: #c5c5c5;
}
.whiteColor{
  color: #fff;
}
.darkColor{
  color: #000;
}
.gray{
  color:#B1B1B1
}

.no_bg{
  background:none;
}

.no_block{
  display: none;
}

.border_none{
  border:none !important;
}
.no_underline{
  text-decoration: none !important;
}


a{
  text-decoration: none;
  color:#000;
}

*{
font-family: 'Segoe UI';
}

html{
  scroll-behavior: smooth;
}

body{
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 0;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

[type=email], [type=number], [type=tel], [type=url]{
  direction: ltr;
}
[dir='rtl'] [type=email], [type=number], [type=tel], [type=url] {
  direction: rtl;
}

/* password icon eye */

 [dir='rtl'] .field_icon{
  right: auto;
  left: 0;
 }
 .field_icon{
  position: absolute;
  bottom: 40%;
  right: 0;
  font-size: 1.2020833vw;
  cursor: pointer;
}

.feedback_error{
    color: #D40000;
    font-size: 0.78125vw;
}


.s_overlay{
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.5;
  z-index: 5;
  display:none;
}


/* password icon eye */

[dir='rtl'] .person__details .form .form__field .field_icon{
  right: auto;
  left: 0;
}
.person__details .form .form__field .field_icon{
  position: absolute;
  bottom: 50%;
  right: 0;
  font-size: 1.3020833vw;
  cursor: pointer;
}



.__background{
background: var(--background_color);
width: 100%;
height: 24.0625vw;
position: absolute;
z-index: -1;
}


.add_product{
  width: 50%;
  height: 50vw;
  position: absolute;
  top: 10vw;
  right: 15vw;
  z-index: 3;
  text-align: center;
  overflow-y: scroll;
}


.add_product .title_add{
  z-index: 3;
  position: relative;
  color: #FFFFFF;
  font-size: 50px;
  margin-bottom: 70px;

}

.add_product .form__btn {
  width: 190px;
  height: 50px;
  background: #0136EE 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  border: 0;
  margin: 0 1vw;
}

.custome-input{
border: 1px solid #EDF0F7;
border-radius: 10px;
background-color: rgb(255, 255, 255);
outline: none;
width: 100%;
padding: 10px 15px;
}

.upload-images{
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
  background-color: #F6F6F7;
  padding: 20px 0;
  text-align: center;
  margin: auto;
}
.upload-images .imgs-uploaded{
  padding: 5px 0 60px 15px;
}
.upload-images .imgs-uploaded .list-style{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.upload-images .imgs-uploaded .list-style .list{
  width: 130px;
  height: 130px;
  position: relative;
  list-style: none;
}

.upload-images .imgs-uploaded .list-style .list img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-images .imgs-uploaded .list-style .list .delete-btn{
  position: absolute;
  top: -5px;
  right: -5px;
  border: none;
  background-color: #C33434;
  width: 30px;
  height: 30px;
  line-height: 12px;
  border-radius: 50%;
}

.upload-images .imgs-uploaded .list-style .list .delete-btn .icon{
  font-size: 20px;
  color: #fff;
  margin-left: -1px;
}


.upload-images .imgs-uploaded label{
  padding: 4px;
  color: #A0AEC0;
  border-radius: 5px;
}

.upload-images label input[type=file]{
  display: none;
}

.upload-images .imgs-uploaded .absolute_label{
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


.contentStander{
  width: 80%;
  margin: auto;
  margin-top: 8vw;
  margin-bottom: 25vw;
}

.red{
  color: #D40000!important;
}

.arrows_slide{
  text-align: center;
  margin-top: 1vw;
}
.arrows_slide .arrow_slide{
  font-size: 2.3vw;
  margin: 0 1vw;
}



.width-30{
  width: 28% !important;
}
.widthInputOffset{
 width: 95% !important ;
}
.widthInputOffset3{
 width: 30% !important ;
}
.mar-50{
  margin-right: 3vw;
}

.mar-90{
  margin-right: 5vw;
}
.all{
  display: flex;
  flex-direction: column;
}
.all .all__up{
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin: 0 auto;
}
.all .all__down{
  width: 94%;
  margin: 0 auto;
}
.all .all__down .title{
  letter-spacing: 0px;
  color: #B1B1B1;
  font-size: 2.4vw;
}


.card_info{
  width: 100%;
  height: 12.5vw;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #E8E8E8;
  border-radius: 11px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.card_info .card_info_con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.card_info .card_info_con .num{
  color: #B1B1B1;
  font-size: 1.8vw;
  font-weight: 500;
}
.card_info .card_info_con .text{
  color: #B1B1B1;
  font-size: 1.8vw;
  font-weight: 500;
}
.card_info .add_card_info{
  height: 3.4vw;
  border-radius: 50%;
  background: #0136EE 0% 0% no-repeat padding-box;
  font-size: 2.7vw;
  color: #FFFFFF;
  margin: 0.70373vw 2.263054vw;
  padding: 0px 0.7vw;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.sec__title {
  font-size: 1.82387vw;
  opacity: 0.5;
  margin-bottom: 5.21105vw;
}
.item__slider {
  width: 90%;
}
.section_slider{
  width: 75vw;
}

.btn_supplier{
  padding: 0.6vw 2.4vw!important;
  margin: 0 0.5vw!important;
}


.search__content{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 27px;
  background: #ffffff;
  height: 7vw;
  box-shadow: 0px 3px 6px #00000029;
  border: 0.5px solid #DCDCDC;
  align-items: center;
}

.search__content .form_content{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.search__content .form_content .form__feild .icon{
  position: absolute;
  right: 0.5vw;
  top: 40%;
  font-size: 1.2vw;
}

.search__content .form_content .form__feild{
  position: relative;
}

.search__content .form_content .form__feild:first-child .feild__select {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
}

.search__content .form_content .form__feild .feild__input{
  width: 35vw!important;
  height: 5vw!important;
}
.search__content .form_content .form__feild .feild__input:focus{
  outline: none!important;
  border: 0!important;
  box-shadow: none!important;
}
.search__content .form_content .form__feild .feild__select{
  border: 0;
  border-left: 1px solid #ebe9e9;
  border-radius:0;
  width: 12vw;
  height: 100%;
  font-size: 1.8vw;
  color: #707070;
  padding-left: 1vw;
  margin-right: 0.4vw;
}

.search__content .form_content .form__feild .feild__select:focus{
  outline: none!important;
  box-shadow: none!important;
  border: 0!important;
}



.search__content .form_content .form__feild .feild__select .color{
 color: #000 !important;
 font-weight: 400;
}

.search__content .form_content .form__feild .label{
  position: absolute;
  bottom: 3.2vw;
  left: 1vw;
  font-size: 1.2vw;
  color: #B1B1B1;
}

.search__content .btn_content{
  margin-right: 4vw;
  font-size: 1.8vw;
  width: 11.4vw;
  height: 4.2vw;
  border: 0;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border-radius: 13px;
  color: #0136EE;
}

.search__content .btn_content:hover{
  background: #0136EE 0% 0% no-repeat padding-box;
  color: #F2F2F2;
  transition: all 0.2s ease-in-out;
}

.cursor_pointer{
  cursor: pointer;
}


.lang_change{
  margin: 1vw 2vw;
  
}
.lang_change .header__item{
  color: #0136ee;
  font-size: 3vw;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}
.lang_change .header__item .item__text{
  margin: 0 1vw;
}


.filter__nav{
  width: 98%;
  margin: auto;
  margin-top: 12vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: space-between;
}

.filter__nav .nav__title{
font-size: 1.6vw;
font-weight:400;
color: #888;
}

.filter__nav .nav__title .nav__num {
  color: #0136EE;
}

.filter__nav .nav__btn{
  padding: 0.75vw 1.5vw;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 1vw;
  text-decoration: none;
  color:#d1d1d1;
}

.filter__nav .nav__btn .nav__icon{
  color: #888;
}

/****************************** Responsive ******************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .field_icon{
    position: absolute;
    bottom: 30%;
    right: 0;
    font-size: 3vw;
    cursor: pointer;
  }
  .lang_change .header__item{
    font-size: 4.5vw;
  }
  .feedback_error{
    color: #D40000;
    font-size: 3vw;
  }

  .__background{
    background: var(--background_color);
    width: 100%;
    height: 50vw;
    position: absolute;
    z-index: -1;
    }

    .search__content{
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      background: #ffffff;
      height: 10vw;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #DCDCDC;
      align-items: center;
    }
    
    .search__content .form_content{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    
    .search__content .form_content .form__feild .icon{
      position: absolute;
      right: 0.5vw;
      top: 20%;
      font-size: 3vw;
    }
    
    .search__content .form_content .form__feild{
      position: relative;
    }
    
    .search__content .form_content .form__feild:first-child .feild__select {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 0;
      
    }
    
    .search__content .form_content .form__feild .feild__input{
      width: 70vw!important;
      height: 5vw!important;
    }

    .search__content .form_content .form__feild .feild__select{
      border: 0;
      border-left: 1px solid #ebe9e9;
      border-radius:0;
      width: 20vw;
      height: 100%;
      font-size: 3vw;
      color: #707070;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-right: 2vw;
      margin-left: 2vw;
    }
    

    
    [dir='rtl'] .search__content .form_content .form__feild .label{
      right: 2vw;
      left: auto;
    }
    .search__content .form_content .form__feild .label{
      position: absolute;
      bottom: 5vw;
      left: 2vw;
      font-size: 2vw;
      color: #B1B1B1;
    }
    
    .search__content .btn_content{
      margin-right: 4vw;
      margin-left: 4vw;
      font-size: 3vw;
      width: 11.4vw;
      height: 5vw;
      border: 0;
      background: #F2F2F2 0% 0% no-repeat padding-box;
      border-radius: 5px;
      color: #0136EE;
    }

    .add_product{
      width: 80%;
      height: 700px;
      position: absolute;
      top: 15vw;
      right: 10vw;
      z-index: 3;
      text-align: center;
      overflow-y: scroll;
    }
    
    
    .add_product .title_add{
      z-index: 3;
      position: relative;
      color: #FFFFFF;
      font-size: 6vw;
      margin-bottom: 70px;
    
    }
    
    .add_product .form__btn {
      width: 30vw;
      height: 9vw;
      background: #0136EE 0% 0% no-repeat padding-box;
      border-radius: 10px;
      font-size: 3vw;
      color: #fff;
      border: 0;
      margin: 0 1vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .field_icon{
    position: absolute;
    bottom: 30%;
    right: 0;
    font-size: 2.7vw;
    cursor: pointer;
  }
  .lang_change .header__item{
    font-size: 3.8vw;
  }
  .feedback_error{
    color: #D40000;
    font-size: 2.5vw;
  }
  .__background{
    background: var(--background_color);
    width: 100%;
    height: 40vw;
    position: absolute;
    z-index: -1;
    }

    .search__content{
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      background: #ffffff;
      height: 10vw;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #DCDCDC;
      align-items: center;
    }
    
    .search__content .form_content{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    
    .search__content .form_content .form__feild .icon{
      position: absolute;
      right: 0.5vw;
      top: 20%;
      font-size: 2.5vw;
    }
    
    .search__content .form_content .form__feild{
      position: relative;
    }
    
    .search__content .form_content .form__feild:first-child .feild__select {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 0;
      
    }
    
    .search__content .form_content .form__feild .feild__input{
      width: 70vw!important;
      height: 5vw!important;
    }

    .search__content .form_content .form__feild .feild__select{
      border: 0;
      border-left: 1px solid #ebe9e9;
      border-radius:0;
      width: 20vw;
      height: 100%;
      font-size: 2.7vw;
      color: #707070;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-right: 2vw;
      margin-left: 2vw;
    }
    

    
    [dir='rtl'] .search__content .form_content .form__feild .label{
      right: 2vw;
      left: auto;
    }
    .search__content .form_content .form__feild .label{
      position: absolute;
      bottom: 5vw;
      left: 2vw;
      font-size: 1.7vw;
      color: #B1B1B1;
    }
    
    .search__content .btn_content{
      margin-right: 4vw;
      margin-left: 4vw;
      font-size: 2.7vw;
      width: 11.4vw;
      height: 5vw;
      border: 0;
      background: #F2F2F2 0% 0% no-repeat padding-box;
      border-radius: 5px;
      color: #0136EE;
    }

    .add_product{
      width: 80%;
      height: 700px;
      position: absolute;
      top: 15vw;
      right: 10vw;
      z-index: 3;
      text-align: center;
      overflow-y: scroll;
    }
    
    
    .add_product .title_add{
      z-index: 3;
      position: relative;
      color: #FFFFFF;
      font-size: 5vw;
      margin-bottom: 70px;
    
    }
    
    .add_product .form__btn {
      width: 25vw;
      height: 7vw;
      background: #0136EE 0% 0% no-repeat padding-box;
      border-radius: 10px;
      font-size: 2.5vw;
      color: #fff;
      border: 0;
      margin: 0 1vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .field_icon{
    position: absolute;
    bottom: 30%;
    right: 0;
    font-size: 2vw;
    cursor: pointer;
  }
  .lang_change .header__item{
    font-size: 3.2vw;
  }
  .feedback_error{
    color: #D40000;
    font-size: 2vw;
  }
  .__background{
    background: var(--background_color);
    width: 100%;
    height: 30vw;
    position: absolute;
    z-index: -1;
    }
    .search__content{
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      background: #ffffff;
      height: 8vw;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #DCDCDC;
      align-items: center;
    }
    
    .search__content .form_content{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    
    .search__content .form_content .form__feild .icon{
      position: absolute;
      right: 0.5vw;
      top: 20%;
      font-size: 2.3vw;
    }
    
    .search__content .form_content .form__feild{
      position: relative;
    }
    
    .search__content .form_content .form__feild:first-child .feild__select {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 0;
      
    }
    
    .search__content .form_content .form__feild .feild__input{
      width: 70vw!important;
      height: 5vw!important;
    }

    .search__content .form_content .form__feild .feild__select{
      border: 0;
      border-left: 1px solid #ebe9e9;
      border-radius:0;
      width: 20vw;
      height: 100%;
      font-size: 2.5vw;
      color: #707070;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-right: 2vw;
      margin-left: 2vw;
    }
    

    
    [dir='rtl'] .search__content .form_content .form__feild .label{
      right: 2vw;
      left: auto;
    }
    .search__content .form_content .form__feild .label{
      position: absolute;
      bottom: 3.7vw;
      left: 2vw;
      font-size: 1.5vw;
      color: #B1B1B1;
    }
    
    .search__content .btn_content{
      margin-right: 4vw;
      margin-left: 4vw;
      font-size: 2.5vw;
      width: 11.4vw;
      height: 5vw;
      border: 0;
      background: #F2F2F2 0% 0% no-repeat padding-box;
      border-radius: 5px;
      color: #0136EE;
    }

    .add_product{
      width: 80%;
      height: 700px;
      position: absolute;
      top: 15vw;
      right: 10vw;
      z-index: 3;
      text-align: center;
      overflow-y: scroll;
    }
    
    
    .add_product .title_add{
      z-index: 3;
      position: relative;
      color: #FFFFFF;
      font-size: 4vw;
      margin-bottom: 70px;
    
    }
    
    .add_product .form__btn {
      width: 20vw;
      height: 6vw;
      background: #0136EE 0% 0% no-repeat padding-box;
      border-radius: 10px;
      font-size: 2vw;
      color: #fff;
      border: 0;
      margin: 0 1vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .field_icon{
    position: absolute;
    bottom: 30%;
    right: 0;
    font-size: 1.7vw;
    cursor: pointer;
  }
  .lang_change .header__item{
    font-size: 2.6vw;
  }
  .feedback_error{
    color: #D40000;
    font-size: 1.5vw;
  }
  .__background{
    background: var(--background_color);
    width: 100%;
    height: 25vw;
    position: absolute;
    z-index: -1;
    }

    .search__content{
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      background: #ffffff;
      height: 8vw;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #DCDCDC;
      align-items: center;
    }
    
    .search__content .form_content{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    
    .search__content .form_content .form__feild .icon{
      position: absolute;
      right: 0.5vw;
      top: 20%;
      font-size: 2.3vw;
    }
    
    .search__content .form_content .form__feild{
      position: relative;
    }
    
    .search__content .form_content .form__feild:first-child .feild__select {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 0;
      
    }
    
    .search__content .form_content .form__feild .feild__input{
      width: 70vw!important;
      height: 5vw!important;
    }

    .search__content .form_content .form__feild .feild__select{
      border: 0;
      border-left: 1px solid #ebe9e9;
      border-radius:0;
      width: 20vw;
      height: 100%;
      font-size: 2.5vw;
      color: #707070;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-right: 2vw;
      margin-left: 2vw;
    }
    

    
    [dir='rtl'] .search__content .form_content .form__feild .label{
      right: 2vw;
      left: auto;
    }
    .search__content .form_content .form__feild .label{
      position: absolute;
      bottom: 3.7vw;
      left: 2vw;
      font-size: 1.5vw;
      color: #B1B1B1;
    }
    
    .search__content .btn_content{
      margin-right: 4vw;
      margin-left: 4vw;
      font-size: 2vw;
      width: 10vw;
      height: 4vw;
      border: 0;
      background: #F2F2F2 0% 0% no-repeat padding-box;
      border-radius: 5px;
      color: #0136EE;
    }

    .add_product{
      width: 80%;
      height: 700px;
      position: absolute;
      top: 15vw;
      right: 10vw;
      z-index: 3;
      text-align: center;
      overflow-y: scroll;
    }
    
    
    .add_product .title_add{
      z-index: 3;
      position: relative;
      color: #FFFFFF;
      font-size: 3.5vw;
      margin-bottom: 70px;
    
    }
    
    .add_product .form__btn {
      width: 18vw;
      height: 5vw;
      background: #0136EE 0% 0% no-repeat padding-box;
      border-radius: 10px;
      font-size: 1.7vw;
      color: #fff;
      border: 0;
      margin: 0 1vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .field_icon{
    position: absolute;
    bottom: 30%;
    right: 0;
    font-size: 1.5vw;
    cursor: pointer;
  }
  .lang_change .header__item{
    font-size: 2vw;
  }
  .feedback_error{
    color: #D40000;
    font-size: 1.3vw;
  }
  .__background{
    background: var(--background_color);
    width: 100%;
    height: 21vw;
    position: absolute;
    z-index: -1;
    }
    
    .search__content{
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      background: #ffffff;
      height: 6vw;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #DCDCDC;
      align-items: center;
    }
    
    .search__content .form_content{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    
    .search__content .form_content .form__feild .icon{
      position: absolute;
      right: 0.5vw;
      top: 20%;
      font-size: 2vw;
    }
    
    .search__content .form_content .form__feild{
      position: relative;
    }
    
    .search__content .form_content .form__feild:first-child .feild__select {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 0;
      
    }
    
    .search__content .form_content .form__feild .feild__input::placeholder{
      font-size: 2vw;
    }
    .search__content .form_content .form__feild .feild__input{
      width: 70vw!important;
      height: 5vw!important;
    }

    .search__content .form_content .form__feild .feild__select{
      border: 0;
      border-left: 1px solid #ebe9e9;
      border-radius:0;
      width: 20vw;
      height: 100%;
      font-size: 2.5vw;
      color: #707070;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-right: 2vw;
      margin-left: 2vw;
    }
    

    
    [dir='rtl'] .search__content .form_content .form__feild .label{
      right: 2vw;
      left: auto;
    }
    .search__content .form_content .form__feild .label{
      position: absolute;
      bottom: 3.7vw;
      left: 2vw;
      font-size: 1.5vw;
      color: #B1B1B1;
    }
    
    .search__content .btn_content{
      margin-right: 4vw;
      margin-left: 4vw;
      font-size: 2vw;
      width: 10vw;
      height: 4vw;
      border: 0;
      background: #F2F2F2 0% 0% no-repeat padding-box;
      border-radius: 5px;
      color: #0136EE;
    }

    .add_product{
      width: 80%;
      height: 600px;
      position: absolute;
      top: 15vw;
      right: 10vw;
      z-index: 3;
      text-align: center;
      overflow-y: scroll;
    }
    
    
    .add_product .title_add{
      z-index: 3;
      position: relative;
      color: #FFFFFF;
      font-size: 3vw;
      margin-bottom: 70px;
    
    }
    
    .add_product .form__btn {
      width: 15vw;
      height: 4vw;
      background: #0136EE 0% 0% no-repeat padding-box;
      border-radius: 10px;
      font-size: 1.5vw;
      color: #fff;
      border: 0;
      margin: 0 1vw;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .field_icon{
    position: absolute;
    bottom: 30%;
    right: 0;
    font-size: 1vw;
    cursor: pointer;
  }
  .lang_change .header__item{
    font-size: 1.5vw;
  }
  .feedback_error{
    color: #D40000;
    font-size: 1vw;
  }
  .__background{
    background: var(--background_color);
    width: 100%;
    height: 16vw;
    position: absolute;
    z-index: -1;
    }

    .search__content{
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      background: #ffffff;
      height: 4vw;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #DCDCDC;
      align-items: center;
    }
    
    .search__content .form_content{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    
    .search__content .form_content .form__feild .icon{
      position: absolute;
      right: 0.5vw;
      top: 20%;
      font-size: 2vw;
    }
    
    .search__content .form_content .form__feild{
      position: relative;
    }
    
    .search__content .form_content .form__feild:first-child .feild__select {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 0;
      
    }
    
    .search__content .form_content .form__feild .feild__input::placeholder{
      font-size: 1.5vw;
    }
    .search__content .form_content .form__feild .feild__input{
      width: 70vw!important;
      height: 3vw!important;
      font-size: 1.5vw!important;
    }

    .search__content .form_content .form__feild .feild__select{
      border: 0;
      border-left: 1px solid #ebe9e9;
      border-radius:0;
      width: 20vw;
      height: 100%;
      font-size: 2.5vw;
      color: #707070;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-right: 2vw;
      margin-left: 2vw;
    }
    

    
    [dir='rtl'] .search__content .form_content .form__feild .label{
      right: 2vw;
      left: auto;
    }
    .search__content .form_content .form__feild .label{
      position: absolute;
      bottom: 3.7vw;
      left: 2vw;
      font-size: 1.5vw;
      color: #B1B1B1;
    }
    
    .search__content .btn_content{
      margin-right: 4vw;
      margin-left: 4vw;
      font-size: 2vw;
      width: 10vw;
      height: 4vw;
      border: 0;
      background: #F2F2F2 0% 0% no-repeat padding-box;
      border-radius: 5px;
      color: #0136EE;
    }

    .add_product{
      width: 70%;
      height: 700px;
      position: absolute;
      top: 10vw;
      right: 15vw;
      z-index: 3;
      text-align: center;
      overflow-y: scroll;
    }
    
    
    .add_product .title_add{
      z-index: 3;
      position: relative;
      color: #FFFFFF;
      font-size: 2.2vw;
      margin-bottom: 70px;
    
    }
    
    .add_product .form__btn {
      width: 10vw;
      height: 3vw;
      background: #0136EE 0% 0% no-repeat padding-box;
      border-radius: 10px;
      font-size: 1.2vw;
      color: #fff;
      border: 0;
      margin: 0 1vw;
    }
}
