
.item__offer{
    padding: 0.7817vw;
    border: 1px solid #c5c5c5;
    width: 97%;
    height: 22.5vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    /* height: 21.730vw; */
    position: relative;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.item__offer .offer__img{
    margin: auto 0;
    width: 30.172vw;
    height: 14.3304vw;
    border: 1px solid #a3a3a3;
    border-radius: 0.78166vw;
    margin-left: 0.78166vw;
    margin-right: 0.78166vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__offer .offer__img .image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 13px;
}

.item__offer .offer__img .rate__offer{
    position: absolute;
    bottom: 1.04221vw;
    left: 0;
    width: 8.3vw;
    height: 2.29286vw;
    padding: 0.052110vw 0.26055vw;
    background: #d40000;
    color: #fff;
    display: flex;
    flex-direction: column;
    
}

.item__offer .offer__img .rate__offer .rate__num{
    font-size: 0.62533vw;
}
.item__offer .offer__img .rate__offer .rate__code{
    font-size: 0.937989vw;
    font-weight: 100;
    width: 100%;
    /* object-fit: contain; */
    word-break: break-all;
}

.item__offer .offer__img .rate__offer .rate__code span{
    font-weight: 900;
}

.item__offer .offer__info{
    margin: auto;
    height: 19.2809vw;
    margin-left: 1.82387vw;
    margin-right: 1.30276vw;
    width: 34.9140vw;
}

.item__offer .offer__info .info__title{
    color: #B1B1B1;
    font-weight: bold;
    font-size: 1.35487vw;
    margin-bottom: 0;
}

.item__offer .offer__info .info__date{
    color: #B1B1B1;
    font-size: 0.8vw;
    font-weight: normal;
}

.item__offer .offer__info .info__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.042209vw;
    height: 12.71496vw;
}

.item__offer .offer__info .info__details .detail__desc{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.52110vw;
    
}

.item__offer .offer__info .info__details .detail_title{
    width: 18%;
    margin-right: 2.13653vw;
    /* flex: 15%; */
    font-size: 1.0943vw;
    color: #B1B1B1;
    margin-left: 2.13653vw
}

.item__offer .offer__info .info__details .detail__desc .desc__text::-webkit-scrollbar {
    display: none;
  }
.item__offer .offer__info .info__details .detail__desc .desc__text{
    margin-left: 0.46899vw;
    margin-bottom: 0;
    color: #D1D1D1;
    font-size: 0.9399478vw;
    word-break: break-word;
    height: 5vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.item__offer .offer__info .info__details .detail__added{
    display: flex;
}
.item__offer .offer__info .info__details .detail__added .added__person{
    display: flex;
    flex-direction: row;
}
.item__offer .offer__info .info__details .detail__added .added__person .person{
    width: 1.30276vw;
    height: 1.5633142vw;
    border-radius: 50%;
}
.item__offer .offer__info .info__details .detail__added .added__person .person_info{
    display: flex;
    flex-direction: column;
    margin-left: 1.04221vw;
}
.item__offer .offer__info .info__details .detail__added .added__person .person_info .name{
    font-size: 1.2vw;
    font-weight: 500;
    margin-bottom: 0.26055vw;
    color: #B1B1B1;
}
.item__offer .offer__info .info__details .detail__added .added__person .person_info .number ,
.item__offer .offer__info .info__details .detail__added .added__person .person_info .no{
    font-size: 0.937989vw;
    color: #D1D1D1;
}


.item__offer .offer__info .info__details .detail__price{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
}

.item__offer .offer__info .info__details .detail__price .price_info .price{
    color: #B1B1B1;
    font-size: 1.45909vw;
    font-weight: bold;
}
.item__offer .offer__info .info__details .detail__price .price_info .offer{
    color: #D40000;
    text-decoration: line-through;
    margin-left: 0.2605vw;
    font-size: 0.9399478vw;
}
.item__offer .offer_request{
    display: flex;
    align-items: flex-end;
}

.item__offer .offer_request .request__btn{
    background: #0136EE 0% 0% no-repeat padding-box;
    border-radius: 14px;
    padding: 0.6253vw 4.16883vw;
    font-size: 1.0943vw;
    text-decoration: none;
    color: #fff;
    border: 1px solid #0136EE ;
}
.item__offer .offer_request .request__btn:hover{
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #0136EE ;
    color: #0136EE;
    transition: all 0.2s ease-in-out;

}

.item__offer .offer__rate{
    display: flex;
    flex-direction: row;
}

.item__offer .offer__rate .icon{
    font-size: 1.56331vw;
}

.item__offer .offer__rate span{
    color: #B1B1B1;
    font-weight: bold;
    font-size: 1.51120vw;
    margin-left: 0.26055vw;
    margin-top: -0px;
}



.offer_header{
    width: 100%;
    display: flex;
    position: relative;
    margin-top: -10.2vw;
    z-index: -1;
}

.offer_header .image{
    width: 95%;
    margin: auto;
}

.offer_header .title{
    position: absolute;
    color: #D1D1D1;
    font-size: 2.978vw;
    bottom: 15.7110vw;
    left: 5.88235vw;
}


/****************************** Responsive ******************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .offer_header{
        width: 100%;
        display: flex;
        position: relative;
        margin-top: -14.7vw;
        z-index: -1;
    }

    .offer_header .title{
        position: absolute;
        color: #D1D1D1;
        font-size: 4vw;
        font-weight: 700;
        bottom: 8vw;
        width: 50%;
        left: 2vw;
    }
    .item__offer{
        padding: 0.7817vw;
        border: 1px solid #c5c5c5;
        width: 85%;
        height: 95vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* height: 21.730vw; */
        position: relative;
        margin-bottom: 2vw;
        border-radius: 10px;
        align-items: center;
    }

    .item__offer .offer__img{
        margin: auto 0;
        width: 80%;
        height: 30vw;
        border: 1px solid #a3a3a3;
        border-radius: 0.78166vw;
        margin-left: 0.78166vw;
        margin-right: 0.78166vw;
        position: relative;
    }

    .item__offer .offer__img .rate__offer{
        position: absolute;
        bottom: 1.04221vw;
        left: 0;
        width: 19vw;
        height: 6.5vw;
        padding: 0.052110vw 0.26055vw;
        background: #d40000;
        color: #fff;
        display: flex;
        flex-direction: column;
        
    }

    .item__offer .offer__img .rate__offer .rate__num{
        font-size: 2vw;
    }
    .item__offer .offer__img .rate__offer .rate__code{
        font-size: 2vw;
        font-weight: 100;
        width: 100%;
        /* object-fit: contain; */
        word-break: break-all;
    }

    .item__offer .offer__info{
        margin: auto;
        height: 50%;
        margin-left: 1.82387vw;
        margin-right: 1.30276vw;
        width: 80%;
    }

    .item__offer .offer__info .info__title{
        color: #B1B1B1;
        font-weight: bold;
        font-size: 4vw;
        margin-bottom: 0;
    }

    .item__offer .offer__info .info__date{
        color: #B1B1B1;
        font-size: 2.5vw;
        font-weight: normal;
    }

    .item__offer .offer__info .info__details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1.042209vw;
        height: 20vw;
    }

    .item__offer .offer__info .info__details .detail__desc{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.52110vw;
        
    }

    .item__offer .offer__info .info__details .detail_title{
        width: 30%;
        margin-right: 2.13653vw;
        /* flex: 15%; */
        font-size: 2.5vw;
        color: #B1B1B1;
        margin-left: 2.13653vw
    }

    .item__offer .offer__info .info__details .detail__desc .desc__text::-webkit-scrollbar {
        display: none;
    }
    .item__offer .offer__info .info__details .detail__desc .desc__text{
        margin-left: 0.46899vw;
        margin-bottom: 0;
        color: #D1D1D1;
        font-size: 2.5vw;
        word-break: break-word;
        height: 13vw;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .item__offer .offer__info .info__details .detail__added{
        display: flex;
    }
    .item__offer .offer__info .info__details .detail__added .added__person{
        display: flex;
        flex-direction: row;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person{
        width: 1.30276vw;
        height: 1.5633142vw;
        border-radius: 50%;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info{
        display: flex;
        flex-direction: column;
        margin-left: 1.04221vw;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .name{
        font-size: 2.5vw;
        font-weight: 500;
        margin-bottom: 0.26055vw;
        color: #B1B1B1;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .number ,
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .no{
        font-size: 2.5vw;
        color: #D1D1D1;
    }


    .item__offer .offer__info .info__details .detail__price{
        display: flex;
        flex-direction: row;
        margin-top: 1vw;
    }

    .item__offer .offer__info .info__details .detail__price .price_info .price{
        color: #B1B1B1;
        font-size: 3vw;
        font-weight: bold;
    }
    .item__offer .offer__info .info__details .detail__price .price_info .offer{
        color: #D40000;
        text-decoration: line-through;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: 1vw;
    }
    .item__offer .offer_request{
        display: flex;
        align-items: flex-end;
    }

    .item__offer .offer_request .request__btn{
        background: #0136EE 0% 0% no-repeat padding-box;
        border-radius: 14px;
        padding: 0.6253vw 7vw;
        font-size: 3vw;
        text-decoration: none;
        color: #fff;
        border: 1px solid #0136EE ;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .offer_header{
        width: 100%;
        display: flex;
        position: relative;
        margin-top: -14.7vw;
        z-index: -1;
    }

    .offer_header .title{
        position: absolute;
        color: #D1D1D1;
        font-size: 4.1vw;
        font-weight: 700;
        bottom: 8vw;
        width: 50%;
        left: 2vw;
    }
    .item__offer{
        padding: 0.7817vw;
        border: 1px solid #c5c5c5;
        width: 85%;
        height: 95vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* height: 21.730vw; */
        position: relative;
        margin-bottom: 2vw;
        border-radius: 10px;
        align-items: center;
    }

    .item__offer .offer__img{
        margin: auto 0;
        width: 80%;
        height: 30vw;
        border: 1px solid #a3a3a3;
        border-radius: 0.78166vw;
        margin-left: 0.78166vw;
        margin-right: 0.78166vw;
        position: relative;
    }

    .item__offer .offer__img .rate__offer{
        position: absolute;
        bottom: 1.04221vw;
        left: 0;
        width: 19vw;
        height: 6.5vw;
        padding: 0.052110vw 0.26055vw;
        background: #d40000;
        color: #fff;
        display: flex;
        flex-direction: column;
        
    }

    .item__offer .offer__img .rate__offer .rate__num{
        font-size: 1.9vw;
    }
    .item__offer .offer__img .rate__offer .rate__code{
        font-size: 1.9vw;
        font-weight: 100;
        width: 100%;
        /* object-fit: contain; */
        word-break: break-all;
    }

    .item__offer .offer__info{
        margin: auto;
        height: 50%;
        margin-left: 1.82387vw;
        margin-right: 1.30276vw;
        width: 80%;
    }

    .item__offer .offer__info .info__title{
        color: #B1B1B1;
        font-weight: bold;
        font-size: 3.9vw;
        margin-bottom: 0;
    }

    .item__offer .offer__info .info__date{
        color: #B1B1B1;
        font-size: 2.4vw;
        font-weight: normal;
    }

    .item__offer .offer__info .info__details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1.042209vw;
        height: 20vw;
    }

    .item__offer .offer__info .info__details .detail__desc{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.52110vw;
        
    }

    .item__offer .offer__info .info__details .detail_title{
        width: 30%;
        margin-right: 2.13653vw;
        /* flex: 15%; */
        font-size: 2.4vw;
        color: #B1B1B1;
        margin-left: 2.13653vw
    }

    .item__offer .offer__info .info__details .detail__desc .desc__text::-webkit-scrollbar {
        display: none;
    }
    .item__offer .offer__info .info__details .detail__desc .desc__text{
        margin-left: 0.46899vw;
        margin-bottom: 0;
        color: #D1D1D1;
        font-size: 2.4vw;
        word-break: break-word;
        height: 13vw;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .item__offer .offer__info .info__details .detail__added{
        display: flex;
    }
    .item__offer .offer__info .info__details .detail__added .added__person{
        display: flex;
        flex-direction: row;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person{
        width: 1.30276vw;
        height: 1.5633142vw;
        border-radius: 50%;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info{
        display: flex;
        flex-direction: column;
        margin-left: 1.04221vw;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .name{
        font-size: 2.4vw;
        font-weight: 500;
        margin-bottom: 0.26055vw;
        color: #B1B1B1;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .number ,
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .no{
        font-size: 2.4vw;
        color: #D1D1D1;
    }


    .item__offer .offer__info .info__details .detail__price{
        display: flex;
        flex-direction: row;
        margin-top: 1vw;
    }

    .item__offer .offer__info .info__details .detail__price .price_info .price{
        color: #B1B1B1;
        font-size: 2.9vw;
        font-weight: bold;
    }
    .item__offer .offer__info .info__details .detail__price .price_info .offer{
        color: #D40000;
        text-decoration: line-through;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: 1.1vw;
    }
    .item__offer .offer_request{
        display: flex;
        align-items: flex-end;
    }

    .item__offer .offer_request .request__btn{
        background: #0136EE 0% 0% no-repeat padding-box;
        border-radius: 14px;
        padding: 0.6253vw 7vw;
        font-size: 3vw;
        text-decoration: none;
        color: #fff;
        border: 1px solid #0136EE ;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .offer_header{
        width: 100%;
        display: flex;
        position: relative;
        margin-top: -14.7vw;
        z-index: -1;
    }

    .offer_header .title{
        position: absolute;
        color: #D1D1D1;
        font-size: 3.5vw;
        font-weight: 700;
        bottom: 8vw;
        width: 50%;
        left: 2vw;
    }
    .item__offer{
        padding: 0.7817vw;
        border: 1px solid #c5c5c5;
        width: 80%;
        height: 80vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* height: 21.730vw; */
        position: relative;
        margin-bottom: 2vw;
        border-radius: 10px;
        align-items: center;
    }

    .item__offer .offer__img{
        margin: auto 0;
        width: 80%;
        height: 27vw;
        border: 1px solid #a3a3a3;
        border-radius: 0.78166vw;
        margin-left: 0.78166vw;
        margin-right: 0.78166vw;
        position: relative;
    }

    .item__offer .offer__img .rate__offer{
        position: absolute;
        bottom: 1.04221vw;
        left: 0;
        width: 15vw;
        height: 5vw;
        padding: 0.052110vw 0.26055vw;
        background: #d40000;
        color: #fff;
        display: flex;
        flex-direction: column;
        
    }

    .item__offer .offer__img .rate__offer .rate__num{
        font-size: 1.6vw;
    }
    .item__offer .offer__img .rate__offer .rate__code{
        font-size: 1.6vw;
        font-weight: 100;
        width: 100%;
        /* object-fit: contain; */
        word-break: break-all;
    }

    .item__offer .offer__info{
        margin: auto;
        height: 50%;
        margin-left: 1.82387vw;
        margin-right: 1.30276vw;
        width: 80%;
    }

    .item__offer .offer__info .info__title{
        color: #B1B1B1;
        font-weight: bold;
        font-size: 3.5vw;
        margin-bottom: 0.5vw;
    }

    .item__offer .offer__info .info__date{
        color: #B1B1B1;
        font-size: 2vw;
        font-weight: normal;
    }

    .item__offer .offer__info .info__details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1.042209vw;
        height: 20vw;
    }

    .item__offer .offer__info .info__details .detail__desc{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.52110vw;
        
    }

    .item__offer .offer__info .info__details .detail_title{
        width: 30%;
        margin-right: 2.13653vw;
        /* flex: 15%; */
        font-size: 2vw;
        color: #B1B1B1;
        margin-left: 2.13653vw
    }

    .item__offer .offer__info .info__details .detail__desc .desc__text::-webkit-scrollbar {
        display: none;
    }
    .item__offer .offer__info .info__details .detail__desc .desc__text{
        margin-left: 0.46899vw;
        margin-bottom: 0;
        color: #D1D1D1;
        font-size: 2vw;
        word-break: break-word;
        height: 15vw;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .item__offer .offer__info .info__details .detail__added{
        display: flex;
    }
    .item__offer .offer__info .info__details .detail__added .added__person{
        display: flex;
        flex-direction: row;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person{
        width: 1.30276vw;
        height: 1.5633142vw;
        border-radius: 50%;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info{
        display: flex;
        flex-direction: column;
        margin-left: 1.04221vw;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .name{
        font-size: 2vw;
        font-weight: 500;
        margin-bottom: 0.26055vw;
        color: #B1B1B1;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .number ,
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .no{
        font-size: 2vw;
        color: #D1D1D1;
    }


    .item__offer .offer__info .info__details .detail__price{
        display: flex;
        flex-direction: row;
        margin-top: 1vw;
    }

    .item__offer .offer__info .info__details .detail__price .price_info .price{
        color: #B1B1B1;
        font-size: 2.4vw;
        font-weight: bold;
    }
    .item__offer .offer__info .info__details .detail__price .price_info .offer{
        color: #D40000;
        text-decoration: line-through;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: 1.5vw;
    }
    .item__offer .offer_request{
        display: flex;
        align-items: flex-end;
    }

    .item__offer .offer_request .request__btn{
        background: #0136EE 0% 0% no-repeat padding-box;
        border-radius: 14px;
        padding: 0.6253vw 7vw;
        font-size: 2.7vw;
        text-decoration: none;
        color: #fff;
        border: 1px solid #0136EE ;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .offer_header{
        width: 100%;
        display: flex;
        position: relative;
        margin-top: -14.7vw;
        z-index: -1;
    }

    .offer_header .title{
        position: absolute;
        color: #D1D1D1;
        font-size: 3.2vw;
        font-weight: 600;
        bottom: 8vw;
        width: 50%;
        left: 2vw;
    }
    .item__offer{
        padding: 0.7817vw;
        border: 1px solid #c5c5c5;
        width: 75%;
        height: 70vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* height: 21.730vw; */
        position: relative;
        margin-bottom: 2vw;
        border-radius: 10px;
        align-items: center;
    }

    .item__offer .offer__img{
        margin: auto 0;
        width: 80%;
        height: 25vw;
        border: 1px solid #a3a3a3;
        border-radius: 0.78166vw;
        margin-left: 0.78166vw;
        margin-right: 0.78166vw;
        position: relative;
    }

    .item__offer .offer__img .rate__offer{
        position: absolute;
        bottom: 1.04221vw;
        left: 0;
        width: 12vw;
        height: 4vw;
        padding: 0.052110vw 0.26055vw;
        background: #d40000;
        color: #fff;
        display: flex;
        flex-direction: column;
        
    }

    .item__offer .offer__img .rate__offer .rate__num{
        font-size: 1.3vw;
    }
    .item__offer .offer__img .rate__offer .rate__code{
        font-size: 1.3vw;
        font-weight: 100;
        width: 100%;
        /* object-fit: contain; */
        word-break: break-all;
    }

    .item__offer .offer__info{
        margin: auto;
        height: 50%;
        margin-left: 1.82387vw;
        margin-right: 1.30276vw;
        width: 80%;
    }

    .item__offer .offer__info .info__title{
        color: #B1B1B1;
        font-weight: bold;
        font-size: 3vw;
        margin-bottom: 0.5vw;
    }

    .item__offer .offer__info .info__date{
        color: #B1B1B1;
        font-size: 1.6vw;
        font-weight: normal;
    }

    .item__offer .offer__info .info__details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1.042209vw;
        height: 20vw;
    }

    .item__offer .offer__info .info__details .detail__desc{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.52110vw;
        
    }

    .item__offer .offer__info .info__details .detail_title{
        width: 30%;
        margin-right: 2.13653vw;
        /* flex: 15%; */
        font-size: 1.7vw;
        color: #B1B1B1;
        margin-left: 2.13653vw
    }

    .item__offer .offer__info .info__details .detail__desc .desc__text::-webkit-scrollbar {
        display: none;
    }
    .item__offer .offer__info .info__details .detail__desc .desc__text{
        margin-left: 0.46899vw;
        margin-bottom: 0;
        color: #D1D1D1;
        font-size: 1.7vw;
        word-break: break-word;
        height: 11vw;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .item__offer .offer__info .info__details .detail__added{
        display: flex;
    }
    .item__offer .offer__info .info__details .detail__added .added__person{
        display: flex;
        flex-direction: row;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person{
        width: 1.30276vw;
        height: 1.5633142vw;
        border-radius: 50%;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info{
        display: flex;
        flex-direction: column;
        margin-left: 1.04221vw;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .name{
        font-size: 1.7vw;
        font-weight: 500;
        margin-bottom: 0.26055vw;
        color: #B1B1B1;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .number ,
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .no{
        font-size: 1.7vw;
        color: #D1D1D1;
    }


    .item__offer .offer__info .info__details .detail__price{
        display: flex;
        flex-direction: row;
        margin-top: 1vw;
    }

    .item__offer .offer__info .info__details .detail__price .price_info .price{
        color: #B1B1B1;
        font-size: 2.1vw;
        font-weight: bold;
    }
    .item__offer .offer__info .info__details .detail__price .price_info .offer{
        color: #D40000;
        text-decoration: line-through;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: 1.2vw;
    }
    .item__offer .offer_request{
        display: flex;
        align-items: flex-end;
    }

    .item__offer .offer_request .request__btn{
        background: #0136EE 0% 0% no-repeat padding-box;
        border-radius: 14px;
        padding: 0.6253vw 6vw;
        font-size: 2.3vw;
        text-decoration: none;
        color: #fff;
        border: 1px solid #0136EE ;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .offer_header{
        width: 100%;
        display: flex;
        position: relative;
        margin-top: -14.7vw;
        z-index: -1;
    }

    .offer_header .title{
        position: absolute;
        color: #D1D1D1;
        font-size: 2.5vw;
        font-weight: 600;
        bottom: 12vw;
        width: 50%;
        left: 2vw;
    }
    .item__offer{
        padding: 0.7817vw;
        border: 1px solid #c5c5c5;
        width: 97%;
        height: 25vw;
        display: flex;
        flex-direction: row;
        margin: auto;
        /* height: 21.730vw; */
        position: relative;
        margin-bottom: 2vw;
        border-radius: 10px;
        align-items: flex-end;
    }
    
    .item__offer .offer__img{
        margin: auto 0;
        width: 45%;
        height: 70%;
        border: 1px solid #a3a3a3;
        border-radius: 0.78166vw;
        margin-left: 0.78166vw;
        margin-right: 0.78166vw;
        position: relative;
    }

    
    .item__offer .offer__img .rate__offer{
        position: absolute;
        bottom: 1.04221vw;
        left: 0;
        width: 9vw;
        height: 3vw;
        padding: 0.052110vw 0.26055vw;
        background: #d40000;
        color: #fff;
        display: flex;
        flex-direction: column;
        
    }
    
    .item__offer .offer__img .rate__offer .rate__num{
        font-size: 0.9vw;
    }
    .item__offer .offer__img .rate__offer .rate__code{
        font-size: 1vw;
        font-weight: 100;
        width: 100%;
        /* object-fit: contain; */
        word-break: break-all;
    }
    
    .item__offer .offer__img .rate__offer .rate__code span{
        font-weight: 900;
    }
    
    .item__offer .offer__info{
        margin: auto;
        height: 90%;
        margin-left: 1.82387vw;
        margin-right: 1.30276vw;
        width: 50%;
    }
    
    .item__offer .offer__info .info__title{
        color: #B1B1B1;
        font-weight: bold;
        font-size: 1.9vw;
        margin-bottom: 0;
    }
    
    .item__offer .offer__info .info__date{
        color: #B1B1B1;
        font-size: 1.2vw;
        font-weight: normal;
    }
    
    .item__offer .offer__info .info__details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1.042209vw;
        height: 12.71496vw;
    }
    
    .item__offer .offer__info .info__details .detail__desc{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.52110vw;
        
    }
    
    .item__offer .offer__info .info__details .detail_title{
        width: 18%;
        margin-right: 2.13653vw;
        /* flex: 15%; */
        font-size: 1.3vw;
        color: #B1B1B1;
        margin-left: 2.13653vw
    }
    
    .item__offer .offer__info .info__details .detail__desc .desc__text::-webkit-scrollbar {
        display: none;
      }
    .item__offer .offer__info .info__details .detail__desc .desc__text{
        margin-left: 0.46899vw;
        margin-bottom: 0;
        color: #D1D1D1;
        font-size: 1.3vw;
        word-break: break-word;
        height: 5vw;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .item__offer .offer__info .info__details .detail__added .added__person .person_info{
        display: flex;
        flex-direction: column;
        margin-left: 1.04221vw;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .name{
        font-size: 1.3vw;
        font-weight: 500;
        margin-bottom: 0.26055vw;
        color: #B1B1B1;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .number ,
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .no{
        font-size: 1.2vw;
        color: #D1D1D1;
    }
    
    
    .item__offer .offer__info .info__details .detail__price{
        display: flex;
        flex-direction: row;
        margin-top: 1vw;
    }
    
    .item__offer .offer__info .info__details .detail__price .price_info .price{
        color: #B1B1B1;
        font-size: 1.7vw;
        font-weight: bold;
    }
    .item__offer .offer__info .info__details .detail__price .price_info .offer{
        color: #D40000;
        text-decoration: line-through;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: 1vw;
    }
    .item__offer .offer_request{
        display: flex;
        align-items: flex-end;
    }
    
    .item__offer .offer_request .request__btn{
        background: #0136EE 0% 0% no-repeat padding-box;
        border-radius: 14px;
        padding: 0.6253vw 4.16883vw;
        font-size: 1.0943vw;
        text-decoration: none;
        color: #fff;
        border: 1px solid #0136EE ;
    }
    .item__offer .offer_request .request__btn:hover{
        background: #fff 0% 0% no-repeat padding-box;
        border: 1px solid #0136EE ;
        color: #0136EE;
        transition: all 0.2s ease-in-out;
    
    }
    
    .item__offer .offer__rate{
        display: flex;
        flex-direction: row;
    }
    
    .item__offer .offer__rate .icon{
        font-size: 1.56331vw;
    }
    
    .item__offer .offer__rate span{
        color: #B1B1B1;
        font-weight: bold;
        font-size: 1.51120vw;
        margin-left: 0.26055vw;
        margin-top: -0px;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .offer_header{
        width: 100%;
        display: flex;
        position: relative;
        margin-top: -14.7vw;
        z-index: -1;
    }

    .offer_header .title{
        position: absolute;
        color: #D1D1D1;
        font-size: 2.5vw;
        font-weight: 600;
        bottom: 12vw;
        width: 50%;
        left: 2vw;
    }
    .item__offer{
        padding: 0.7817vw;
        border: 1px solid #c5c5c5;
        width: 97%;
        height: 25vw;
        display: flex;
        flex-direction: row;
        margin: auto;
        /* height: 21.730vw; */
        position: relative;
        margin-bottom: 2vw;
        border-radius: 10px;
        align-items: flex-end;
    }
    
    .item__offer .offer__img{
        margin: auto 0;
        width: 40%;
        height: 65%;
        border: 1px solid #a3a3a3;
        border-radius: 0.78166vw;
        margin-left: 0.78166vw;
        margin-right: 0.78166vw;
        position: relative;
    }
    
    .item__offer .offer__img .rate__offer{
        position: absolute;
        bottom: 1.04221vw;
        left: 0;
        width: 8vw;
        height: 2.5vw;
        padding: 0.052110vw 0.26055vw;
        background: #d40000;
        color: #fff;
        display: flex;
        flex-direction: column;
        
    }
    
    .item__offer .offer__img .rate__offer .rate__num{
        font-size: 0.7vw;
    }
    .item__offer .offer__img .rate__offer .rate__code{
        font-size: 0.8vw;
        font-weight: 100;
        width: 100%;
        /* object-fit: contain; */
        word-break: break-all;
    }
    
    .item__offer .offer__img .rate__offer .rate__code span{
        font-weight: 900;
    }
    
    .item__offer .offer__info{
        margin: auto;
        height: 90%;
        margin-left: 1.82387vw;
        margin-right: 1.30276vw;
        width: 50%;
    }
    
    .item__offer .offer__info .info__title{
        color: #B1B1B1;
        font-weight: bold;
        font-size: 1.8vw;
        margin-bottom: 0;
    }
    
    .item__offer .offer__info .info__date{
        color: #B1B1B1;
        font-size: 1.1vw;
        font-weight: normal;
    }
    
    .item__offer .offer__info .info__details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1.042209vw;
        height: 12.71496vw;
    }
    
    .item__offer .offer__info .info__details .detail__desc{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.52110vw;
        
    }
    
    .item__offer .offer__info .info__details .detail_title{
        width: 18%;
        margin-right: 2.13653vw;
        /* flex: 15%; */
        font-size: 1.1vw;
        color: #B1B1B1;
        margin-left: 2.13653vw
    }
    
    .item__offer .offer__info .info__details .detail__desc .desc__text::-webkit-scrollbar {
        display: none;
      }
    .item__offer .offer__info .info__details .detail__desc .desc__text{
        margin-left: 0.46899vw;
        margin-bottom: 0;
        color: #D1D1D1;
        font-size: 1.2vw;
        word-break: break-word;
        height: 5vw;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .item__offer .offer__info .info__details .detail__added .added__person .person_info{
        display: flex;
        flex-direction: column;
        margin-left: 1.04221vw;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .name{
        font-size: 1.2vw;
        font-weight: 500;
        margin-bottom: 0.26055vw;
        color: #B1B1B1;
    }
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .number ,
    .item__offer .offer__info .info__details .detail__added .added__person .person_info .no{
        font-size: 1.1vw;
        color: #D1D1D1;
    }
    
    
    .item__offer .offer__info .info__details .detail__price{
        display: flex;
        flex-direction: row;
        margin-top: 1vw;
    }
    
    .item__offer .offer__info .info__details .detail__price .price_info .price{
        color: #B1B1B1;
        font-size: 1.6vw;
        font-weight: bold;
    }
    .item__offer .offer__info .info__details .detail__price .price_info .offer{
        color: #D40000;
        text-decoration: line-through;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: 0.9vw;
    }
    .item__offer .offer_request{
        display: flex;
        align-items: flex-end;
    }
    
    .item__offer .offer_request .request__btn{
        background: #0136EE 0% 0% no-repeat padding-box;
        border-radius: 14px;
        padding: 0.6253vw 4.16883vw;
        font-size: 1.0943vw;
        text-decoration: none;
        color: #fff;
        border: 1px solid #0136EE ;
    }
    .item__offer .offer_request .request__btn:hover{
        background: #fff 0% 0% no-repeat padding-box;
        border: 1px solid #0136EE ;
        color: #0136EE;
        transition: all 0.2s ease-in-out;
    
    }
    
    .item__offer .offer__rate{
        display: flex;
        flex-direction: row;
    }
    
    .item__offer .offer__rate .icon{
        font-size: 1.56331vw;
    }
    
    .item__offer .offer__rate span{
        color: #B1B1B1;
        font-weight: bold;
        font-size: 1.51120vw;
        margin-left: 0.26055vw;
        margin-top: -0px;
    }
}