.content_slide{
    display: flex;
    flex-wrap: wrap;
    height: auto;

}

.content_slide .toggle_side{
    position: absolute;
    z-index: 3;
}
.content_slide .toggle_side .icon{
    font-size: 2.5vw;
    margin: 1vw;
    cursor: pointer;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}

/* .content_slide .openNavClass{
    display: block !important;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
} */
/* .content_slide .closeNavClass{
    display: none !important;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
} */
.content_slide .openNavClass{
    display: block!important;
    animation: fade_in_show 0.5s
}
.content_slide .slidebar{
    flex: 20%;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    /* transition: all 1s linear; */
    display: none;
    position: absolute;
    width: 20vw;
    height: 81.5vw;
    z-index: 2;
}
.content_slide .slidebar .list{
    margin: 0 auto;
    padding-top: 5.49858vw;
    padding-bottom: 2.54108vw;
    width: 70%;
}
.content_slide .slidebar .list .item{
    margin-bottom: 2.124646vw;
}
.content_slide .slidebar .list .item .item_link{
    color: #6e6e6e;
    text-decoration: none;
    font-size: 1.6vw;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}
.content_slide .slidebar .list .item .item_link:hover{
    color: #0136EE;
    transition: all 0.2s ease-in-out;
    background: none;
}


.content_slide .slidebar .list .item .active{
    color: #0136EE;
}


.content_slide .all{
    flex: 80%;
    margin-top: 2vw;
}

.content_slide .all .__content .right__image {
    height: 42.875vw;
    position: absolute;
    top: -6.25vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/****************************** Responsive ******************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content_slide .toggle_side .icon{
        font-size: 5vw;
        margin: 1vw;
        cursor: pointer;
    }

    .content_slide .slidebar{
        /* flex: 20%; */
        /* transition: all 1s linear; */
        display: none;
        position: absolute;
        width: 50vw;
        height: 100%;
        z-index: 2;
    }
    .content_slide .slidebar .list{
        margin: 0 auto;
        padding-top: 5.49858vw;
        padding-bottom: 2.54108vw;
        width: 70%;
    }
    .content_slide .slidebar .list .item{
        margin-bottom: 5vw;
    }
    .content_slide .slidebar .list .item .item_link{
        font-size: 4vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content_slide .toggle_side .icon{
        font-size: 4.5vw;
        margin: 1vw;
        cursor: pointer;
    }

    .content_slide .slidebar{
        /* flex: 20%; */
        /* transition: all 1s linear; */
        display: none;
        position: absolute;
        width: 50vw;
        height: 100%;
        z-index: 2;
    }
    .content_slide .slidebar .list{
        margin: 0 auto;
        padding-top: 9vw;
        padding-bottom: 2.54108vw;
        width: 70%;
    }
    .content_slide .slidebar .list .item{
        margin-bottom: 5vw;
    }
    .content_slide .slidebar .list .item .item_link{
        font-size:3.5vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content_slide .toggle_side .icon{
        font-size: 4vw;
        margin: 1vw;
        cursor: pointer;
    }

    .content_slide .slidebar{
        /* flex: 20%; */
        /* transition: all 1s linear; */
        display: none;
        position: absolute;
        width: 45vw;
        height: 100%;
        z-index: 2;
    }
    .content_slide .slidebar .list{
        margin: 0 auto;
        padding-top: 8vw;
        padding-bottom: 2.54108vw;
        width: 70%;
    }
    .content_slide .slidebar .list .item{
        margin-bottom: 4vw;
    }
    .content_slide .slidebar .list .item .item_link{
        font-size: 3vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content_slide .toggle_side .icon{
        font-size: 3vw;
        margin: 1vw;
        cursor: pointer;
    }

    .content_slide .slidebar{
        /* flex: 20%; */
        /* transition: all 1s linear; */
        display: none;
        position: absolute;
        width: 40vw;
        height: 100%;
        z-index: 2;
    }
    .content_slide .slidebar .list{
        margin: 0 auto;
        padding-top: 8vw;
        padding-bottom: 2.54108vw;
        width: 70%;
    }
    .content_slide .slidebar .list .item{
        margin-bottom: 3.5vw;
    }
    .content_slide .slidebar .list .item .item_link{
        font-size: 2.2vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content_slide .toggle_side .icon{
        font-size: 2.8vw;
        margin: 1vw;
        cursor: pointer;
    }

    .content_slide .slidebar{
        /* flex: 20%; */
        /* transition: all 1s linear; */
        display: none;
        position: absolute;
        width: 34vw;
        height: 100%;
        z-index: 2;
    }
    .content_slide .slidebar .list{
        margin: 0 auto;
        padding-top: 8vw;
        padding-bottom: 2.54108vw;
        width: 70%;
    }
    .content_slide .slidebar .list .item{
        margin-bottom: 2.4vw;
    }
    .content_slide .slidebar .list .item .item_link{
        font-size: 1.9vw;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .content_slide .toggle_side .icon{
        font-size: 2.5vw;
        margin: 1vw;
        cursor: pointer;
    }

    .content_slide .slidebar{
        /* flex: 20%; */
        /* transition: all 1s linear; */
        display: none;
        position: absolute;
        width: 25vw;
        height: 100%;
        z-index: 2;
    }
    .content_slide .slidebar .list{
        margin: 0 auto;
        padding-top: 8vw;
        padding-bottom: 2.54108vw;
        width: 70%;
    }
    .content_slide .slidebar .list .item{
        margin-bottom: 2vw;
    }
    .content_slide .slidebar .list .item .item_link{
        font-size: 1.5vw;
    }
}



