/*===== Config =====*/
:root{
    --primary_color: #0136ee;
    --background_color: #f4f4f4;
    --text_color: #b1b1b1;

    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-0136ee: #0136EE;
    --unnamed-color-f7f7f7: #F7F7F7;
    --unnamed-color-d1d1d1: #D1D1D1;
    --unnamed-color-3869a1: #3869A1;
    --unnamed-color-00244d: #00244D;
    --unnamed-color-1e6fcc: #1E6FCC;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-000000: #000000;
    --unnamed-color-b1b1b1: #B1B1B1;
    --unnamed-color-d40000: #D40000;
    --unnamed-color-707070: #707070;
  }

  .yellow{
    color: #ffc107;
  }
  .blue{
      color: #000cff;
  }
  .white{
      color: #c5c5c5;
  }
  .gray{
    color:#B1B1B1
  }

.no_bg{
    background:none;
}

.no_block{
    display: none;
}

.border_none{
    border:none !important;
}

.vis_hidden{
    visibility:hidden;
}

a{
    text-decoration: none;
    color:#000;
}

*{
font-family: 'Segoe UI';
}

body{
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }




.overlay{
    position: absolute;
    top: 183px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
    z-index: 5;
    display:none;
}



  /* Header */

  .__header{
    padding: 0 0.5208334vw;
    height:  3.95835vw;
    display: flex;
    /* background: var(--unnamed-color-0136ee); */
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
  }

  .header__item{
    color: #B1B1B1;
    margin-right: 0.83334vw;
    display: flex;
    align-items: center;
    margin-left: 3.125vw;
    font-size: 1.31875vw;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
  }

  .header__item .logout_hover_icon {
    display: none;  
  }
  .header__item:hover .logout_hover_icon {
    display: block;  
  }
  .header__item:hover .logout_icon {
    display: none;  
  }

  .header__item:hover{
    color: rgb(59, 59, 59);
  }

  .item__icon{
    width: 1.6667vw;
    height: 1.6667vw;
    margin-right: 0.3604167vw;
    z-index: 1;
  }

  
  /* logo Content */

.logo__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 1.5625vw;
}

.logo__content .logo{
    width: 3.64583vw;
}

.logo__content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11.9791666vw;
}

.logo__content .icons .item{}

.logo__content .icons .item .icon{
    font-size: 1.1458333vw;
    color: #b1b1b1;
}

.logo__content .icons .item .active{
    font-size: 40px;
    padding: 7px 9px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 50%;
}

.logo__content .icons .item .icon:hover{
    color:#0136EE;
    transition: all 0.2s ease-in-out;
}

.logo__content .icons .item .image{    
    width: 2.96875vw;
    height: 3.177083335vw;
    border-radius: 50%;
}


/* Navbar Content */

.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-right: 2.60416665vw;
    margin-top: 1.5625vw;
    margin-bottom: 7vw;
}

.nav__content .nav__list{
    display: flex;
    justify-content: space-between;
    width: 23.9583332vw;
}

.nav__content .nav__list .item{
    color: #B1B1B1;
    font-size: 1.5625vw;
    cursor: pointer;
}

.nav__content .nav__list .active{
    font-size: 1.458333vw !important;
    font-weight: bold;
}

.nav__content .nav__search{
    display: flex;
    position: relative;
}

.nav__content .nav__search .image{
    width: 2.08334vw;
    height: 2.08334vw;
    position: absolute;
    left: 0.364583333vw;
    top: 0.625vw;
}

.nav__content .nav__search .search_input{
    width: 28.6458332vw;
    height: 3.28125vw;
}

.nav__content .nav__search .search_input .input{
    width: 100%;
    height: 100%;
    padding-left: 3.125vw;
    font-size: 1.82291667vw;
    border: 2px solid #B1B1B1;
    background: #F2F2F2;
}

.nav__content .nav__search .search_input .input:focus{
    outline: none;
}

.nav__content .nav__search .search_input .input::placeholder{
    font-size: 1.82291667vw;
    font-weight: lighter;
    color: #B1B1B1;
}


/* Content */


.profile_edit_content{
    width: 75%;
    margin: auto;
    display: flex;  
    flex-direction: column;
}

.profile_edit_content .person__info{
    display: flex;
    align-items: flex-end;
    position: relative;
}

.profile_edit_content .person__info .image{
    width: 12.34375vw;
    height: 14.21875vw;
    border-radius: 50%;
    box-shadow: 5px 5px 6px #00000029;
    border: 1px solid #FFFFFF;
}

.profile_edit_content .person__info .icon_add{
    padding: 0.2083334vw 0.46875vw;
    border-radius: 50%;
    background: #00244D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 0.78125vw;
    color:#fff;
    position: absolute;
    bottom: 1.5625vw;
    left: 9.9541666vw;
    cursor: pointer;
}

.profile_edit_content .person__info .name__job{
    margin-bottom: 2.60416665vw;
    margin-left: 1.82291667vw;
}

.profile_edit_content .person__info .name__job .name{
    color: #000000;
    font-size: 2.34375vw;
    font-weight: bold;
    margin: 0;
}

.profile_edit_content .person__info .name__job .job{
    color: #B1B1B1;
    font-size: 1.458333vw;
}

.profile_edit_content .person__info .btns{
    position: absolute;
    right: 0;
    top: 50%;
}

.profile_edit_content .person__info .btns .btn_form{
    padding: 0.520834vw 1.82291667vw;
    font-size: 1.3020833vw;
    margin-left: 1.3020833vw;
    cursor: pointer;
}

.profile_edit_content .person__info .btns .btn_save{
    background: #0136EE 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #0136EE;
}

.profile_edit_content .person__info .btns .btn_save:hover{
    background: #fff 0% 0% no-repeat padding-box;
    color: #0136EE;
    transition: all 0.2s ease-in-out;
    border: 1px solid #0136EE;
}

.profile_edit_content .person__info .btns .btn_cancel{
    border: 1px solid #707070;
    border-radius: 5px;
    color: #707070;
}

.profile_edit_content .person__info .btns .btn_cancel:hover{
    background: #707070 0% 0% no-repeat padding-box;
    color: #fff;
    transition: all 0.2s ease-in-out;
}



.profile_edit_content .person__details{
    margin: auto;
    width: 37.083336vw;
    margin-top: 3.64583335vw;
}

.profile_edit_content .person__details .form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex: 100%; */
}

.profile_edit_content .person__details .form .input_sm{
    /* flex: 1% !important; */
    width: 35% !important;
}


.profile_edit_content .person__details .form .offset_input{
       /* flex: 0%; */
       width: 30%;
}

.profile_edit_content .person__details .form .form__field{
    display: flex;
    flex-direction: column;
    /* flex: 100%; */
    width: 100%;
    margin-bottom: 1.3020833vw;
    position: relative;
}

.profile_edit_content .person__details .form .form__field .label{
    color: #000000;
    font-size: 1.66667vw;
    margin-top: 0px;
    font-weight: 500;
}

.profile_edit_content .person__details .form .form__field .input{
    color: #B1B1B1;
    font-size: 1.458333vw;
    border: 0;
    background: 0;
    border-bottom: 2px solid #D1D1D1;
    padding: 1.0416667vw 0;
}

.profile_edit_content .person__details .form .form__field .input:focus{
    outline: none;
}

.profile_edit_content .person__details .form .form__field .optional{
    color: #B1B1B1;
    font-size: 1.197916667vw;
    font-weight: lighter;
    position: absolute;
    left: 12.39583334vw;
    top: 0.26041667vw;
}


/* file input */

.profile_edit_content .person__details .form .form__field .files{
    cursor: pointer;
}
.profile_edit_content .person__details .form .form__field .input[type=file]{
    padding: 0;
    visibility:hidden
}

.profile_edit_content .person__details .form .form__field .files{
    width: 32.86458336vw;
    height: 11.82291666vw;
    border: 2px dashed #D1D1D1;
    margin: auto;
    background: #f4f8fc 0% 0% no-repeat padding-box;
    /* opacity: 0.05; */
    padding: 1.0416667vw 1.5625vw;
    word-break: break-word;
    margin-top: -3.64583335vw;
}

/* password icon eye */

.profile_edit_content .person__details .form .form__field .field_icon{
    position: absolute;
    bottom: 50%;
    right: 0;
    font-size: 1.3020833vw;
    cursor: pointer;
}


/* checkbox input */

.check__field{
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #000;
    width: 1.3520833vw;
    height: 1.3020833vw;
    border: 0.15em solid #000;
    display: grid;
    place-content: center;
    position: absolute;
    left: 0;
    bottom: -1.71875vw;
  }
  
  .check__field::before {
    content: "";
    width: 0.625vw;
    height: 0.625vw;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #000;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  .check__field:checked::before {
    transform: scale(1);
  }

  .check__text{
    position: absolute;
    left: 2.08334vw;
    color: #000000;
    font-size: 1.4583333vw;
  }







 /* Footer */

 .__footer{
    width: 85%;
    margin: auto;
    margin-bottom: 1.9270833vw;
    margin-top: 2vw;
  }
  
  .footer__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 5.2083vw;
    padding: 0.78125vw 3.125vw;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E9E9E9;
    border-radius: 30px;
    margin: auto;
  }
  
  .footer_item .footer_btn{
    text-decoration: none;
    color: #000;
  }
  
  .footer_item  .footer_btn .footer_icon{
    font-size: 1.822vw;
    opacity: 0.5;
  }
  .footer_item  .footer_btn .footer_icon:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
  }
  
  .footer_item .logo{
    width: 7.03125vw;
    margin-top: -1.5625vw;
    padding: 1.0416vw;
    border-radius: 50%;
    background: #f3f3f3;
  }