/*===== Config =====*/
:root{
    --primary_color: #0136ee;
    --background_color: #f4f4f4;
    --text_color: #b1b1b1;

    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-0136ee: #0136EE;
    --unnamed-color-f7f7f7: #F7F7F7;
    --unnamed-color-d1d1d1: #D1D1D1;
    --unnamed-color-3869a1: #3869A1;
    --unnamed-color-00244d: #00244D;
    --unnamed-color-1e6fcc: #1E6FCC;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-000000: #000000;
    --unnamed-color-b1b1b1: #B1B1B1;
    --unnamed-color-d40000: #D40000;
    --unnamed-color-707070: #707070;
  }

  .yellow{
    color: #ffc107;
  }
  .blue{
      color: #000cff;
  }
  .white{
      color: #c5c5c5;
  }
  .gray{
    color:#B1B1B1
  }

.no_bg{
    background:none;
}

.no_block{
    display: none;
}

a{
    text-decoration: none;
    color:#000;
}

  *{
    font-family: 'Segoe UI';
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


/****************** header *********************/
.__header{
    padding: 0 0.5208334vw;
    height:  3.95835vw;
    display: flex;
    background: var(--unnamed-color-0136ee);
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
  }

  .header__item{
    color: #fff;
    margin-right: 0.83334vw;
    display: flex;
    align-items: center;
    margin-left: 3.125vw;
    font-size: 1.31875vw;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
  }

  .header__item .logout_hover_icon {
    display: none;  
  }
  .header__item:hover .logout_hover_icon {
    display: block;  
  }
  .header__item:hover .logout_icon {
    display: none;  
  }

  .header__item:hover{
    color: rgb(59, 59, 59)   ;
  }

  .item__icon{
    width: 1.6667vw;
    height: 1.6667vw;
    margin-right: 0.3604167vw;
    z-index: 1;
  }

  /* search */

.logo__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 1.5625vw;
    margin-bottom: 7vw;

}
.logo__content .logo{
    width: 3.64583vw;
}
.logo__content .icon__search{
    width: 1.7vw;
  }


.__content{
    width: 90%;
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: row;  
}

.__content .content__left{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    flex: 30%;
}


.__content .content__left .left__title{
    color: #b1b1b1;
    font-size: 1.5625vw;
    font-weight: 500;
    margin: 0.520834vw 0;
    cursor: pointer;
}

.__content .content__left .left__title:hover{
    color: #707070;
    transition: all 0.5s ease-in;
    
}


.__content .content__right{
    display: flex;
    flex-direction: column;
    flex: 80%;
}

.__content .content__right .right__details{
    display: flex;
    flex-direction: column;
}

.__content .content__right .right__details .right__title{
    color: #707070;
    font-size: 1.8229167vw;
}

.__content .content__right .right__details .right__info{
    margin: 2.60416665vw 0px;
}

.__content .content__right .right__details .right__info .info__question{
    padding: 1.0416667vw 1.3020833vw ;
    margin: 1.25vw 0;
    width: 70%;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.active{
    background: #FCFCFC 0% 0% no-repeat padding-box !important;
    transition: all 0.2s ease-in-out;
}
.active .question .icon{
    color: #0136EE !important;
    transition: all 0.2s ease-in-out;
    transform: rotateX(180deg);
    margin-bottom: -0.78125vw !important;
}
.active .answer{
    display:block !important;
    transition: all 0.2s ease-in-out;
}

.__content .content__right .right__details .right__info .info__question .question{
    display: flex;
    align-items: center;
}

.__content .content__right .right__details .right__info .info__question .question .title{
    color: #707070;
    font-size: 1.3020833vw;
    margin-right: 1.0416667vw;
}
.__content .content__right .right__details .right__info .info__question .icon{
    font-size: 1.5625vw;
    margin-bottom: 0.26041667vw;
    cursor: pointer;
    color: #B1B1B1;
}

.__content .content__right .right__details .right__info .info__question .answer{
    color: #B1B1B1;
    font-size: 1.3020833vw;
    display: none;
}

.__content .content__right .right__details .right__info .info__text{
    color: #B1B1B1;
    font-size: 1.3020833vw;
}



  
  /* Footer */

  .__footer{
    width: 85%;
    margin: auto;
    margin-bottom: 1.9270833vw;
    margin-top: 7vw;
  }
  
  .footer__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 5.2083vw;
    padding: 0.78125vw 3.125vw;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E9E9E9;
    border-radius: 30px;
    margin: auto;
  }
  
  .footer_item .footer_btn{
    text-decoration: none;
    color: #000;
  }
  
  .footer_item  .footer_btn .footer_icon{
    font-size: 1.822vw;
    opacity: 0.5;
  }
  .footer_item  .footer_btn .footer_icon:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
  }
  
  .footer_item .logo{
    width: 7.03125vw;
    margin-top: -1.5625vw;
    padding: 1.0416vw;
    border-radius: 50%;
    background: #f3f3f3;
  }
