@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*===== Config =====*/
:root{
    --primary_color: #0136ee;
    --background_color: #f4f4f4;
    --text_color: #6e6e6e;
  }

  *{
    font-family: 'Segoe UI'
  }

  html{
    scroll-behavior: smooth;
  }
  
  body{
    background-image: linear-gradient(100deg, #f4f4f4 48%, #FFF 40%);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  



  /************* Content  *************/

.__content{
  position: relative;
  display: flex;
  height: 45vw;
  /* padding-bottom: 250px; */
}

.content__left{
  flex: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10.1881vw;
  padding-right: 10.1881vw;
}

.content__left .left__img{
  width: 27.395833vw;
  height: 17.708333vw;
}

.content__left .left__text{
    color: #0136EE;
    font-size: 1.3020833vw;
}

/***************** Right *****************/

.content__right{
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__right .header__nav{
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}
.content__right .header__nav .nav__item{
    color: #6e6e6e;
    font-size: 1.72291667vw;
    text-decoration: none;
    cursor: pointer;
}
.content__right .header__nav .item__active{
  position: relative;
  color: #0136EE;
  font-weight: bold;
}

.content__right .header__nav .item__active::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right:0;
  height: 4px;
  background-color: var(--primary_color);
  
}


.content__right .form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5.6206897vw;
  width: 50%;
  flex-direction: column;
}
.content__right .form .form__up{}

.content__right .form .form__up .right__title{
  color: #707070;
  font-size: 2.34375vw;
  font-weight: 600;
}

.content__right .form .form__up .right__text{
  color: #6e6e6e;
  font-size: 1.0416667vw;
}

.content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__right .form .right__down .form__inputs{
  width: 90%;
  margin: 0 auto;
}

.content__right .form .right__down .form__inputs .form__input{
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__right .form .right__down .form__inputs .form__input .label__field{
  color: #000000;
  margin-bottom: 0.26041667vw;
  font-size: 1.0416667vw;
}

.content__right .form .right__down .form__inputs .form__input .input__field{
  border: 0;
  border-bottom: 2px solid #818181;
  margin-bottom: 1.278056vw;
  padding: 0.426959vw;
  outline: none;
  font-size: 1.3020833vw;
  color: #000000;
  background: none;
}


.form__check{
  position: relative;
}

.check__field{
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #000;
  width: 1.082769vw;
  height: 1.1244144vw;
  border: 0.15em solid #000;
  display: grid;
  place-content: center;
  position: absolute;
  right: 5.5700156vw;
}

.check__field::before {
  content: "";
  width: 0.541385vw;
  height: 0.541385vw;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #000;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.check__field:checked::before {
  transform: scale(1);
}

.check__text{
  position: absolute;
  right: 0;
  color: #1E6FCC;
  font-size: 0.8328995vw;
}


.content__right .form .right__down .form__submit{
  margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
}

.submit__btn{
  padding: 1.2vh 6vw;
  border-radius: 10px;
  font-size: 1.3vw;
  margin-bottom: 1.0416667vw;
  border: 0;
  background: var(--primary_color);
  color: #fff;
}

.btn__forgot{
  color: #D40000;
  font-size: 1.0416667vw;
  position: relative;
    z-index: 3;
}

.content_bottom{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.content_bottom .left__help{
  color: #6e6e6e;
  font-size: 1.4583333vw;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: underline;
}
.content_bottom .icon__text{
  font-size: 1.2583333vw;
  color: #0136EE;
  text-transform: capitalize;
}
.content_bottom .icon__text a{
  color: #0136EE;
}




/****************************** Responsive ******************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 12vw;
    margin-bottom: 3vw;
  }
  
  .content__left .left__img{
    width: 45vw;
    height: 27vw;
  }
  
  .content__left .left__text{
    font-size: 2.2vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .content_bottom .left__help{
    font-size: 3.3vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 3vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 4vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vw;
    width: 60%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 4.6vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 3.3vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vw;
  }
  
  .content__right .form .right__down .form__inputs{
    width: 100%;
    margin: 0 auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3vw auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input .label__field{
    margin-bottom: 2vw;
    font-size: 4.3vw;
  }
  
  .content__right .form .right__down .form__inputs .form__input .input__field{
    margin-bottom: 1.278056vw;
    padding: 1vw 0;
    font-size: 3.6vw;
  }
  
  
  
  .content__right .form .right__down .form__submit{
    margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 1.2vw 5.2vw;
    border-radius: 10px;
    font-size: 3.7vw;
    margin-bottom: 5vw;
    margin-top: 15vw;
    border: 0;
  }
  
  .btn__forgot{
    font-size: 3.3vw;
  }
  
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 8vw;
    margin-bottom: 3vw;
  }
  
  .content__left .left__img{
    width: 50vw;
    height: 30vw;
  }
  
  .content__left .left__text{
    font-size: 2.5vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .content_bottom .left__help{
    font-size: 2.7vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 2.7vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 2.7vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vw;
    width: 50%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 4vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 2.5vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vw;
  }
  
  .content__right .form .right__down .form__inputs{
    width: 90%;
    margin: 0 auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3vw auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input .label__field{
    margin-bottom: 2vw;
    font-size: 3vw;
  }
  
  .content__right .form .right__down .form__inputs .form__input .input__field{
    margin-bottom: 1.278056vw;
    padding: 0.426959vw;
    font-size: 2.5vw;
  }
  
  
  
  .content__right .form .right__down .form__submit{
    margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 5vw;
    border-radius: 10px;
    font-size: 3vw;
    margin-bottom: 1vw;
    margin-top: 10vw;
    border: 0;
  }
  
  .btn__forgot{
    font-size: 2.7vw;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
  }
  
  .content__left .left__img{
    width: 48vw;
    height: 28vw;
  }
  
  .content__left .left__text{
    font-size: 2.2vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .content_bottom .left__help{
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 2.5vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 2.5vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6vw;
    width: 60%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 3.5vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 2.2vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vw;
  }
  
  .content__right .form .right__down .form__inputs{
    width: 90%;
    margin: 0 auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2vw auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input .label__field{
    margin-bottom: 2vw;
    font-size: 3vw;
  }
  
  .content__right .form .right__down .form__inputs .form__input .input__field{
    margin-bottom: 1.278056vw;
    padding: 0.426959vw;
    font-size: 2.5vw;
  }
  
  
  
  .content__right .form .right__down .form__submit{
    margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 5vw;
    border-radius: 10px;
    font-size: 2.7vw;
    margin-bottom: 1vw;
    margin-top: 10vw;
    border: 0;
  }
  
  .btn__forgot{
    font-size: 2.7vw;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
  }
  
  .content__left .left__img{
    width: 35vw;
    height: 23vw;
  }
  
  .content__left .left__text{
    font-size: 1.5vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .content_bottom .left__help{
    font-size: 1.8vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 1.8vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 2vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6vw;
    width: 60%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 2.5vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 1.8vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vw;
  }
  
  .content__right .form .right__down .form__inputs{
    width: 90%;
    margin: 0 auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1vw auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input .label__field{
    margin-bottom: 2vw;
    font-size: 2vw;
  }
  
  .content__right .form .right__down .form__inputs .form__input .input__field{
    margin-bottom: 1.278056vw;
    padding: 0.426959vw;
    font-size: 1.5vw;
  }
  
  
  
  .content__right .form .right__down .form__submit{
    margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 5vw;
    border-radius: 10px;
    font-size: 1.8vw;
    margin-bottom: 1vw;
    margin-top: 5vw;
    border: 0;
  }
  
  .btn__forgot{
    font-size: 1.8vw;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .__content{
    position: relative;
    display: flex;
    height: auto;
    flex-direction: row;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
  }
  
  .content__left .left__img{
    width: 30vw;
    height: 20vw;
  }
  
  .content__left .left__text{
    font-size: 1.2vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .content_bottom .left__help{
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 1.5vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 1.8vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6vw;
    width: 60%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 2.2vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 1.4vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vw;
  }
  
  .content__right .form .right__down .form__inputs{
    width: 90%;
    margin: 0 auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1vw auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input .label__field{
    margin-bottom: 2vw;
    font-size: 2vw;
  }
  
  .content__right .form .right__down .form__inputs .form__input .input__field{
    margin-bottom: 1.278056vw;
    padding: 0.426959vw;
    font-size: 1.5vw;
  }
  
  
  
  .content__right .form .right__down .form__submit{
    margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 5vw;
    border-radius: 10px;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-top: 5vw;
    border: 0;
  }
  
  .btn__forgot{
    font-size: 1.5vw;
  }
}
/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .__content{
    position: relative;
    display: flex;
    height: auto;
    flex-direction: row;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
  }
  
  .content__left .left__img{
    width: 25vw;
    height: 16vw;
  }
  
  .content__left .left__text{
    font-size: 1vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .content_bottom .left__help{
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 1.3vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 1.5vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vw;
    width: 60%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 2vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 1.2vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vw;
  }
  
  .content__right .form .right__down .form__inputs{
    width: 80%;
    margin: 0 auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.3vw auto;
  }
  
  .content__right .form .right__down .form__inputs .form__input .label__field{
    margin-bottom: 0.5vw;
    font-size: 1.3vw;
  }
  
  .content__right .form .right__down .form__inputs .form__input .input__field{
    margin-bottom: 1.278056vw;
    padding: 0.426959vw;
    font-size: 1vw;
  }
  
  
  
  .content__right .form .right__down .form__submit{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.4vw 3vw;
    border-radius: 10px;
    font-size: 1.1vw;
    margin-bottom: 1vw;
    margin-top: 7vw;
    border: 0;
  }
  
  .btn__forgot{
    font-size: 1.3vw;
  }
}


