@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*===== Config =====*/
:root{
    --primary_color: #0136ee;
    --background_color: #f4f4f4;
    --text_color: #6e6e6e;
  }

  *{
    font-family: 'Segoe UI'
  }

  html{
    scroll-behavior: smooth;
  }
  
  body{
    background-image: linear-gradient(100deg, #f4f4f4 48%, #FFF 40%);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  [type=email], [type=number], [type=tel], [type=url] ,[type=password]{
    direction: ltr;
  }
  [dir='rtl'] [type=email], [type=number], [type=tel], [type=url] ,[type=password]{
    direction: rtl;
  }

  
.__content{
  position: relative;
  display: flex;
  height: 97vh;
  /* padding-bottom: 250px; */
}

.content__left{
  flex: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10.1881vw;
  padding-right: 10.1881vw;
}

.content__left .left__img{
  width: 27.395833vw;
  height: 17.708333vw;
}

.content__left .left__text{
    color: #0136EE;
    font-size: 1.3020833vw;
}

/***************** Right *****************/

.content__right{
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__right .header__nav{
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}
.content__right .header__nav .nav__item{
    color: #6e6e6e;
    font-size: 1.72291667vw;
    text-decoration: none;
    cursor: pointer;
}
.content__right .header__nav .item__active{
  position: relative;
  color: #0136EE;
  font-weight: bold;
}

.content__right .header__nav .item__active::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right:0;
  height: 4px;
  background-color: var(--primary_color);
  
}


.content__right .form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.6206897vw;
  width: 50%;
  flex-direction: column;
}
.content__right .form .form__up{
  width: 100%;
}

.content__right .form .form__up .right__title{
  color: #707070;
  font-size: 2.34375vw;
  font-weight: 600;
}

.content__right .form .form__up .right__text{
  color: #6e6e6e;
  font-size: 1.0416667vw;
}


.content__right .form .right__down{
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__right .form .right__down .form__inputs{
  width: 100%;
    /* margin: 0 auto; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-top: 1.6416667vw;
}

.form .form__down .input_sm{
  /* flex: 1% !important; */
  width: 40% !important;
}


.form .form__down .offset_input{
     /* flex: 0%; */
     width: 20%;
}

.form .form__down .form__field ,
.form .form__down .form_check_field{
  display: flex;
  flex-direction: column;
  /* flex: 100%; */
  width: 100%;
  margin-bottom: 0.8020833vw;
  position: relative;
}

.form .form__down .form__field .label{
  color: #000000;
  font-size: 1.09375vw;
  margin-top: 0px;
  font-weight: 500;
}

.form .form__down .form__field .input{
  color: #6e6e6e;
  font-size: 0.9375vw;
  border: 0;
  background: 0;
  border-bottom: 2px solid #818181;
  padding: 0.5416667vw 0;
}

.form .form__down .form__field .input:focus{
  outline: none;
}

/* [dir='rtl'] .form .form__down .form__field .optional{
  right: 28vw;
  left: auto;
} */
.form .form__down .form__field .optional{
  color: #6e6e6e;
  font-size: 0.78125vw;
  font-weight: lighter;
  /* position: absolute; */
  /* left: 6.395833vw; */
  margin: 0 2vw;
}

/* password icon eye */

/* .form .form__down .form__field .field_icon{
  position: absolute;
  bottom: 20%;
  right: 0;
  font-size: 1.0020833vw;
  cursor: pointer;
} */

.form .form__down .form_check_field{
  margin-top: -5px;
  margin-bottom: 28px;

}
.form__check{
  position: relative;
}

.check__field{
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #000;
  width: 1.06em;
  height: 1.15em;
  border: 0.15em solid #000;
  display: grid;
  place-content: center;
  position: absolute;
  left: 0;
}

.check__field::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #000;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.check__field:checked::before {
  transform: scale(1);
}


.check__text{
  position: absolute;
  left: 23px;
  color: #D40000;
}

.content__right .form .right__down .form__submit{
  margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
}

.submit__btn{
  padding: 1.2vh 6vw;
  border-radius: 10px;
  font-size: 1.3vw;
  margin-bottom: 1.0416667vw;
  border: 0;
  background: var(--primary_color);
  color: #fff;
}

.btn__forgot{
  color: #D40000;
  font-size: 1.0416667vw;
  position: relative;
  z-index: 3;
}


.content_bottom{
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.content_bottom .left__help{
color: #6e6e6e;
font-size: 1.4583333vw;
text-transform: capitalize;
font-weight: 600;
text-decoration: underline;
}
.content_bottom .icon__text{
font-size: 1.2583333vw;
color: #0136EE;
text-transform: capitalize;
}
.content_bottom .icon__text a{
color: #0136EE;
}

/****************************** Responsive ******************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
  
  .content__left .left__img{
    width: 45vw;
    height: 27vw;
  }
  
  .content__left .left__text{
    font-size: 2.2vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .content_bottom .left__help{
    font-size: 3.3vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 3vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 4vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vw;
    width: 90%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 4.6vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 3.3vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vw;
  }
  
  .form .form__down .input_sm{
    width: 45% !important;
  }
  
  
  .form .form__down .offset_input{
    width: 10%;
  }
  
  .form .form__down .form__field .label{
    color: #000000;
    font-size: 4.3vw;
    margin-top: 2vw;
    font-weight: 500;
  }
  
  .form .form__down .form__field .input{
    color: #6e6e6e;
    font-size: 3.6vw;
    border: 0;
    background: 0;
    border-bottom: 2px solid #818181;
    padding: 1vw 0;
  }

  .form .form__down .form__field .optional{
    font-size: 3.5vw;
  }

  .content__right .form .right__down .form__submit{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 1.2vw 5.2vw;
    border-radius: 10px;
    font-size: 3.7vw;
    margin-bottom: 5vw;
    margin-top: 8vw;
    border: 0;
  }
  
  .btn__forgot{
    color: #D40000;
    font-size: 3.3vw
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
  
  .content__left .left__img{
    width: 45vw;
    height: 28vw;
  }
  
  .content__left .left__text{
    font-size: 2.3vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .content_bottom .left__help{
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 2.5vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 2.8vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vw;
    width: 80%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 3.5vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 2.5vw;
  }
  
  .content__right .form .right__down{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0vw;
  }
  
  .form .form__down .input_sm{
    width: 42.5% !important;
  }
  
  
  .form .form__down .offset_input{
    width: 15%;
  }
  
  .form .form__down .form__field .label{
    color: #000000;
    font-size: 3vw;
    margin-top: 2vw;
    font-weight: 500;
  }
  
  .form .form__down .form__field .input{
    color: #6e6e6e;
    font-size: 2.8vw;
    border: 0;
    background: 0;
    border-bottom: 2px solid #818181;
    padding: 1vw 0;
  }

  .form .form__down .form__field .optional{
    font-size: 3vw;
  }

  .content__right .form .right__down .form__submit{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 5vw;
    border-radius: 10px;
    font-size: 3vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    border: 0;
  }
  
  .btn__forgot{
    color: #D40000;
    font-size: 2.5vw
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
  
  .content__left .left__img{
    width: 45vw;
    height: 28vw;
  }
  
  .content__left .left__text{
    font-size: 2.3vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .content_bottom .left__help{
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 2.5vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 2.8vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vw;
    width: 80%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 3vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 2vw;
  }
  
  .content__right .form .right__down{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -1vw;
  }
  
  .form .form__down .input_sm{
    width: 40% !important;
  }
  
  
  .form .form__down .offset_input{
    width: 20%;
  }
  
  .form .form__down .form__field .label{
    color: #000000;
    font-size: 2.8vw;
    margin-top: 1vw;
    font-weight: 500;
  }
  
  .form .form__down .form__field .input{
    color: #6e6e6e;
    font-size: 2.5vw;
    border: 0;
    background: 0;
    border-bottom: 2px solid #818181;
    padding: 0.8vw 0;
  }

  .form .form__down .form__field .optional{
    font-size: 2.5vw;
  }

  .content__right .form .right__down .form__submit{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 8vw;
    border-radius: 10px;
    font-size: 2.5vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    border: 0;
  }
  
  .btn__forgot{
    color: #D40000;
    font-size: 2.5vw
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.1881vw;
    padding-right: 10.1881vw;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
  
  .content__left .left__img{
    width: 35vw;
    height: 23vw;
  }
  
  .content__left .left__text{
    font-size: 1.8vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .content_bottom .left__help{
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 2vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 2.4vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vw;
    width: 70%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 2.5vw;
    font-weight: 600;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 1.8vw;
  }
  
  .content__right .form .right__down{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -1vw;
  }
  
  .form .form__down .input_sm{
    width: 40% !important;
  }
  
  
  .form .form__down .offset_input{
    width: 20%;
  }
  
  .form .form__down .form__field .label{
    color: #000000;
    font-size: 2.3vw;
    margin-top: 1vw;
    font-weight: 500;
  }
  
  .form .form__down .form__field .input{
    color: #6e6e6e;
    font-size: 2.1vw;
    border: 0;
    background: 0;
    border-bottom: 2px solid #818181;
    padding: 0.8vw 0;
  }

  .form .form__down .form__field .optional{
    font-size: 2.3vw;
  }

  .content__right .form .right__down .form__submit{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 8vw;
    border-radius: 10px;
    font-size: 2.5vw;
    margin-bottom: 2vw;
    margin-top: 5vw;
    border: 0;
  }
  
  .btn__forgot{
    color: #D40000;
    font-size: 2vw
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    flex-direction: row;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
  
  .content__left .left__img{
    width: 30vw;
    height: 20vw;
  }
  
  .content__left .left__text{
    font-size: 1.2vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .content_bottom .left__help{
    font-size: 1.6vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 1.6vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 2vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1vw;
    /* margin-left: 3vw;
    margin-right: 3vw; */
    width: 85%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 2.1vw;
    font-weight: 600;
    margin-top: 2vw;
  }
  
  .content__right .form .form__up .right__text{
    font-size: 1.5vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -1vw;
  }
  
  .form .form__down .input_sm{
    width: 42.5% !important;
  }
  
  
  .form .form__down .offset_input{
    width: 15%;
  }
  
  .form .form__down .form__field .label{
    color: #000000;
    font-size: 1.6vw;
    margin-top: 1vw;
    font-weight: 500;
  }
  
  .form .form__down .form__field .input{
    color: #6e6e6e;
    font-size: 1.4vw;
    border: 0;
    background: 0;
    border-bottom: 2px solid #818181;
    padding: 0.8vw 0;
  }

  .form .form__down .form__field .optional{
    font-size: 1.6vw;
  }

  .content__right .form .right__down .form__submit{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 5vw;
    border-radius: 10px;
    font-size: 1.6vw;
    margin-bottom: 2vw;
    margin-top: 5vw;
    border: 0;
  }
  
  .btn__forgot{
    color: #D40000;
    font-size: 1.6vw
  }

}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    flex-direction: row;
  }
  
  .content__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
  
  .content__left .left__img{
    width: 25vw;
    height: 15vw;
  }
  
  .content__left .left__text{
    font-size: 1vw;
  }

  /**************** bottom ******************/

  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .content_bottom .left__help{
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .content_bottom .icon__text{
    font-size: 1.3vw;
  }
  
  /***************** Right *****************/
  
  .content__right{
      /* flex: 50%; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .content__right .header__nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .content__right .header__nav .nav__item{
      font-size: 1.5vw;
  }
  .content__right .header__nav .item__active{
    position: relative;
  }
  
  .content__right .header__nav .item__active::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;    
  }
  
  
  .content__right .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1vw;
    /* margin-left: 3vw;
    margin-right: 3vw; */
    width: 70%;
  }
  .content__right .form .form__up{}
  
  .content__right .form .form__up .right__title{
    font-size: 1.5vw;
    font-weight: 600;
    /* margin-top: 1.5vw; */
  }
  
  .content__right .form .form__up .right__text{
    font-size: 1.2vw;
  }
  
  .content__right .form .right__down{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -1vw;
  }
  
  .form .form__down .input_sm{
    width: 42.5% !important;
  }
  
  
  .form .form__down .offset_input{
    width: 15%;
  }
  
  .form .form__down .form__field .label{
    color: #000000;
    font-size: 1.3vw;
    margin-top: -0.2vw;
    font-weight: 500;
  }
  
  .form .form__down .form__field .input{
    color: #6e6e6e;
    font-size: 1.1vw;
    border: 0;
    background: 0;
    border-bottom: 2px solid #818181;
    padding: 0.8vw 0;
  }

  .form .form__down .form__field .optional{
    font-size: 1.3vw;
  }

  .content__right .form .right__down .form__submit{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      align-items: center;
  }
  
  .submit__btn{
    padding: 0.7vh 4vw;
    border-radius: 10px;
    font-size: 1.3vw;
    margin-bottom: 2vw;
    margin-top: 3vw;
    border: 0;
  }
  
  .btn__forgot{
    color: #D40000;
    font-size: 1.3vw
  }
}



