@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*===== Config =====*/
:root{
    --background_color: #f4f4f4;

    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-0136ee: #0136EE;
    --unnamed-color-f7f7f7: #F7F7F7;
    --unnamed-color-d1d1d1: #818181;
    --unnamed-color-3869a1: #3869A1;
    --unnamed-color-00244d: #00244D;
    --unnamed-color-1e6fcc: #1E6FCC;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-000000: #000000;
    --unnamed-color-b1b1b1: #6e6e6e;
    --unnamed-color-d40000: #D40000;
    --unnamed-color-707070: #707070;
  }

  
  *{
    font-family: 'Segoe UI';
  }

  a:hover{
    color: none;
  }
  body{
    position: relative;
  }
 
  .overlay{
    position: absolute;
    top:75px;
    left:0;
    right:0;
    bottom:0;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
    z-index:5;
    display:none;
  }
.downlist__home{
    position: absolute;
    width: 464px;
    height: 524px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 11px;
    opacity: 1 !important;
    z-index:6;
    right:50px;
    top: 195px;
    padding: 64px 35px;
    display:none;
  }
  .downlist__home .close{
    position: absolute;
    top:-29px;
    left:-12px;
    padding:1px 15px;
    font-size:33px;
    font-weight: bold;
    color: #0136EE;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
  }
  .downlist__home .tringle{
    position: absolute;
    top:-28px;
    right:35px;
    width: 0;
    height: 0;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
    border-bottom: 28px solid #FFFFFF;
  }
  .downlist__home .lists{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 345px;
    width: 100%;
  }
  .downlist__home .lists .item__list{
    display: flex;
    justify-content: flex-start;
    /* width: 228px; */
    align-items: center;
    text-decoration: none;
  }

  .downlist__home .lists .item__list:hover .circle{
    background: #0136EE;
    border:0;
    transition: all 0.2s ease-in-out;
  }
  .downlist__home .lists .item__list:hover .list_text{
    color: #0136EE;
    transition: all 0.2s ease-in-out;
  }

  .downlist__home .lists .item__list .circle{
    border: 2px solid #707070;
    opacity: 1;
    margin-right: 27px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .downlist__home .lists .item__list .list_text{
    font-size: 30px;
    color: #6e6e6e;
    margin-top: -5px;
  }

  /* down list footer */

  .downlist__footer{
    position: absolute;
    border-radius: 11px;
    opacity: 1 !important;
    z-index: 6;
    right: 215px;
    bottom: 168px;
    padding: 64px 35px;
    width: 421px;
    height: 382px;
    display: none;
    background: #0136EE 0% 0% no-repeat padding-box;
  }
  .downlist__footer .close{
    position: absolute;
    top: -29px;
    right: -11px;
    padding: 1px 15px;
    font-size: 33px;
    font-weight: bold;
    color: #0136EE;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
  }
  .downlist__footer .tringle{
    position: absolute;
    bottom: -27px;
    right: 35px;
    width: 0;
    height: 0;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
    border-bottom: 28px solid #0136EE;
    transform: rotate(180deg);
  }
  .downlist__footer .lists{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 222px;
    width: 100%;
  }
  .downlist__footer .lists .item__list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-bottom: 35px;
  }

  .downlist__footer .lists .item__list:hover .circle{
    background: #fff;
    border:0;
    transition: all 0.2s ease-in-out;
  }
  .downlist__footer .lists .item__list:hover .list_text{
    color: #fff;
    transition: all 0.2s ease-in-out;
  }

  .downlist__footer .lists .item__list .circle{
    border: 2px solid #fff;
    opacity: 1;
    margin-right: 27px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .downlist__footer .lists .item__list .list_text{
    font-size: 30px;
    color: #fff;
    margin-top: -5px;
  }

  .downlist__footer .done{
    position: absolute;
    right: 151px;
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
  }


  /* Header */

  .__header{
    padding: 0 0.5208334vw;
    height:  3.95835vw;
    display: flex;
    background: var(--unnamed-color-0136ee);
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
  }

  .header__item{
    color: #fff;
    margin-right: 0.83334vw;
    display: flex;
    align-items: center;
    margin-left: 3.125vw;
    font-size: 1.31875vw;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
  }

  .header__item .logout_hover_icon {
    display: none;  
  }
  .header__item:hover .logout_hover_icon {
    display: block;  
  }
  .header__item:hover .logout_icon {
    display: none;  
  }

  .header__item:hover{
    color: rgb(59, 59, 59)   ;
  }

  .item__icon{
    width: 1.6667vw;
    height: 1.6667vw;
    margin-right: 0.3604167vw;
    z-index: 1;
  }



/* Content */

._Home_content{
    padding-bottom: 4.950495vw;
}

._Home_content .content__home{
    background: #f7f7f7;
    position: relative;
}

._Home_content .content__home .home__nav{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}

._Home_content .content__home .home__nav .nav__img{
    width: 3.64773vw;
    margin-left: 3%;
    cursor: pointer;
}

._Home_content .content__home .home__nav .nav__btn{
    width: 2.970297vw;
    height: 3.074518vw;
    margin-right: 3%;
    border-radius: 50%;
    background: 0;
    border: 1px solid var(--unnamed-color-b1b1b1);
    color: var(--unnamed-color-b1b1b1);
    font-size: 1.563314vw;
    cursor: pointer;
    z-index:200;
    position: relative;
}

._Home_content .content__home .home__title{
    font-size: 2.918187vw;
    font-weight: bold;
    color: var(--unnamed-color-b1b1b1);
    width: 36.84211vw;
    /* height: 148px; */
    text-transform: capitalize;
    margin-top: 2.605524vw;
    margin-left: 5.4715998vw;
    padding-bottom: 6.7743616vw;

}

._Home_content .content__home .home_f_triangle{
    position: absolute;
    top: -12.291667vw;
    right: 16.3020832vw;
    width: 40.625vw;
    height: 37.03125vw;
    background: #f4f4f4;
    /* background: #c41717; */
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
    opacity: 0.6;
    z-index: -2;
}

._Home_content .content__home .home_s_triangle{
    position: absolute;
    top: -11.8229166vw;
    right: 8.1770834vw;
    width: 40.9895833vw;
    height: 38.4895833vw;
    background: #f4f4f4;
    /* background: #c41717; */
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
    opacity: 0.6;
    z-index: -2;
}

._Home_content .content__home .home_t_triangle{
    position: absolute;
    top: -9.53125vw;
    right: 0.05208333vw;
    width:  37.916666vw;
    height: 38.072916vw;
    background: #f4f4f4;
    /* background: #c41717; */
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
    opacity: 0.6;
    z-index: -2;
} 



/* Content card */


._Home_content .content__cards{
    margin: 6.7743616vw;
    position: relative;
}
._Home_content .content__cards .shape_path{
    position: absolute;
    width: 42.20948vw;
    height: 26.73267vw;
    bottom: -6.201146vw;
    right: -6.77436vw;
    z-index: -1;
    transform: rotateY(180deg);
}


._Home_content .content__cards .cards__title{
    font-size: 1.82386vw;
    opacity: 0.5;
    width: 18.238667vw;
    margin-bottom: 9.37989vw;
}

._Home_content .content__cards .__cards{
    position: relative;
    margin: auto;
    margin-top: 2.60552vw;
    margin-left: 0px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

._Home_content .content__cards .__cards .__card{
    display: flex;
    align-content: center;
    /* align-items: stretch; */
    justify-content: space-between;
    width: 17.1965vw;
    height: 6.25326vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 7px #00000029;
    /* border: 0.1px solid var(--unnamed-color-707070); */
    margin-right: 4.1688vw;
    z-index: 2;
    margin-bottom: 25px;
}
._Home_content .content__cards .__cards .__card .card__logo{
    margin-left: - 1.042209vw;
    margin-top: 0.5211vw;
    width: 6.25325vw;
    height: 4.68994vw;
    opacity: 0.3;
}

._Home_content .content__cards .__cards .__card .card__name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -1.563314vw;
}

._Home_content .content__cards .__cards .__card .card__name .name__car{
    font-size: 1.563314vw;
    font-weight: 600;
}

._Home_content .content__cards .__cards .__card .card__name .name__num{
    font-size: 1.30276vw;
    /* font-weight: 600; */
    opacity: 0.3;
    margin-top: -0.573215vw;
}

.yellow{
    color: #ffc107;
}
.blue{
    color: #000cff;
}

.white{
    color: #c5c5c5;
}

._Home_content .content__cards .__cards .__card .card__rate span{
    font-size: 0.88588vw;
    font-weight: bold;
}
._Home_content .content__cards .__cards .__card .card__rate .icon{
    font-size: 0.88588vw;
    font-weight: bold;
}


/* content reviews */

._Home_content .content__reviews{
    margin: 6.774362vw;
}

._Home_content .content__reviews .reviews__title{
    font-size: 1.82387vw;
    opacity: 0.5;
    width: 18.2387vw;
    margin-bottom: 5.21105vw;
}


._Home_content .content__reviews .item__slider{
    width: 15.63314vw;
}

._Home_content .content__reviews .item__slider .slider__img{
    width: 100%;
    height: 11.72486vw;
    border-top-left-radius: 50px;
}

._Home_content .content__reviews .item__slider .slider__title{
    margin-top: 0.93799vw;
    font-size: 1.71965vw;
    font-weight: normal;
    color: #6e6e6e;
}

._Home_content .content__reviews .item__slider .slider__text{
    margin: 1.302762vw 0;
    font-size:  0.88588vw;
    font-weight: lighter;
    color: #6e6e6e;
    width: 90%;
}

._Home_content .content__reviews .item__slider .slider__person{
    display: flex;
    width: 14.5909vw;
    justify-content: space-between;
}

._Home_content .content__reviews .item__slider .slider__person .person__info{
    display: flex;
    align-items: center;
}

._Home_content .content__reviews .item__slider .slider__person .person__info .info_img{
    width: 3.3351vw !important;
    height: 3.90829vw;
    border-radius: 50%;
}

._Home_content .content__reviews .item__slider .slider__person .person__info .info_name{
    display: flex;
    flex-direction: column;
    margin-left: 0.5211vw;
}

._Home_content .content__reviews .item__slider .slider__person .person__info .info_name .name{
    font-size: 0.78166vw;
    font-weight: 900;
}
._Home_content .content__reviews .item__slider .slider__person .person__info .info_name .job{
    opacity: 0.3;
    font-size: 0.677436vw;
}


._Home_content .content__reviews .item__slider .slider__person .person__rate{
    display:flex;
    position: relative;
    align-items: center;
    margin-top: -1.14643vw;
}

._Home_content .content__reviews .item__slider .slider__person .person__rate i{
    font-size: 1.30276vw;
    margin-right: 0.31266vw;
}

._Home_content .content__reviews .item__slider .slider__person .person__rate span{
    font-weight: 600;
    font-size: 1.09432vw;
    margin-left: 0.26055vw;
}

/* section */
._home_section{
    margin: 6.77436vw;
}

._home_section .section_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

._home_section .section_nav .section__title{
    font-size: 1.8239vw;
    opacity: 0.5;
    margin-bottom: 5.21105vw;
}
._home_section .section_nav .icon__search{
    width: 1.56331vw;
}
/* offer */

._Home_content .content__offers{
    margin: 6.77436vw;
}

._Home_content .content__offers .offers_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

._Home_content .content__offers .offers_nav .offers__title{
    font-size: 1.82387vw;
    opacity: 0.5;
    width: 18.2387vw;
    margin-bottom: 5.2110vw;
}


._Home_content .content__offers .item__offer{
    padding: 0.7817vw;
    border: 1px solid #c5c5c5;
    width: 97%;
    height: 22.4075vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 21.730vw;
    position: relative;
}

._Home_content .content__offers .item__offer .offer__img{
    margin: auto 0;
    width: 30.172vw;
    height: 14.3304vw;
    border: 1px solid #a3a3a3;
    border-radius: 0.78166vw;
    margin-left: 0.78166vw;
    margin-right: 0.78166vw;
    position: relative;
}

._Home_content .content__offers .item__offer .offer__img .image{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

._Home_content .content__offers .item__offer .offer__img .rate__offer{
    position: absolute;
    bottom: 1.04221vw;
    left: 0;
    width: 7.295466vw;
    height: 2.29286vw;
    padding: 0.052110vw 0.26055vw;
    background: #d40000;
    color: #fff;
    display: flex;
    flex-direction: column;
    
}

._Home_content .content__offers .item__offer .offer__img .rate__offer .rate__num{
    font-size: 0.62533vw;
}
._Home_content .content__offers .item__offer .offer__img .rate__offer .rate__code{
    font-size: 0.937989vw;
    font-weight: 100;
}

._Home_content .content__offers .item__offer .offer__img .rate__offer .rate__code span{
    font-weight: 900;
}

._Home_content .content__offers .item__offer .offer__info{
    margin: auto;
    height: 19.2809vw;
    margin-left: 1.82387vw;
    margin-right: 1.30276vw;
    width: 34.9140vw;
}

._Home_content .content__offers .item__offer .offer__info .info__title{
    color: #6e6e6e;
    font-weight: bold;
    font-size: 1.35487vw;
}

._Home_content .content__offers .item__offer .offer__info .info__date{
    color: #6e6e6e;
    font-size: 0.72955vw;
    font-weight: normal;
}

._Home_content .content__offers .item__offer .offer__info .info__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.042209vw;
    height: 12.71496vw;
}

._Home_content .content__offers .item__offer .offer__info .info__details .detail__desc{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.52110vw;
    
}

._Home_content .content__offers .item__offer .offer__info .info__details .detail_title{
    width: 18%;
    margin-right: 2.13653vw;
    /* flex: 15%; */
    font-size: 1.0943vw;
    color: #6e6e6e;
}

._Home_content .content__offers .item__offer .offer__info .info__details .detail__desc .desc__text{
    margin-left: 0.46899vw;
    margin-bottom: 0;
    color: #818181;
    font-size: 0.9399478vw
}


._Home_content .content__offers .item__offer .offer__info .info__details .detail__added{
    display: flex;
}
._Home_content .content__offers .item__offer .offer__info .info__details .detail__added .added__person{
    display: flex;
    flex-direction: row;
}
._Home_content .content__offers .item__offer .offer__info .info__details .detail__added .added__person .person{
    width: 1.30276vw;
    height: 1.5633142vw;
    border-radius: 50%;
}
._Home_content .content__offers .item__offer .offer__info .info__details .detail__added .added__person .person_info{
    display: flex;
    flex-direction: column;
    margin-left: 1.04221vw;
}
._Home_content .content__offers .item__offer .offer__info .info__details .detail__added .added__person .person_info .name{
    font-size: 0.937989vw;
    font-weight: 400;
    margin-bottom: 0.26055vw;
    color: #6e6e6e;
}
._Home_content .content__offers .item__offer .offer__info .info__details .detail__added .added__person .person_info .number ,
._Home_content .content__offers .item__offer .offer__info .info__details .detail__added .added__person .person_info .no{
    font-size: 0.937989vw;
    color: #818181;
}


._Home_content .content__offers .item__offer .offer__info .info__details .detail__price{
    display: flex;
    flex-direction: row;
}

._Home_content .content__offers .item__offer .offer__info .info__details .detail__price .price_info .price{
    color: #6e6e6e;
    font-size: 1.45909vw;
    font-weight: bold;
}
._Home_content .content__offers .item__offer .offer__info .info__details .detail__price .price_info .offer{
    color: #D40000;
    text-decoration: line-through;
    margin-left: 0.2605vw;
    font-size: 0.9399478vw;
}
._Home_content .content__offers .item__offer .offer_request{
    display: flex;
    align-items: flex-end;
}

._Home_content .content__offers .item__offer .offer_request .request__btn{
    background: #0136EE 0% 0% no-repeat padding-box;
    border-radius: 14px;
    padding: 0.6253vw 4.16883vw;
    font-size: 1.0943vw;
    text-decoration: none;
    color: #fff;
}

._Home_content .content__offers .item__offer .offer__rate{
    display: flex;
    flex-direction: row;
}

._Home_content .content__offers .item__offer .offer__rate .icon{
    font-size: 1.56331vw;
}

._Home_content .content__offers .item__offer .offer__rate span{
    color: #6e6e6e;
    font-weight: bold;
    font-size: 1.51120vw;
    margin-left: 0.26055vw;
    margin-top: -0px;
}



/* Content Suppliers */

._Home_content .content__suppliers{
    margin: 6.77436vw;
}

._Home_content .content__suppliers .suppliers_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

._Home_content .content__suppliers .suppliers_nav .suppliers__title{
    font-size: 1.82387vw;
    opacity: 0.5;
    width: 18.2387vw;
    margin-bottom: 5.21105vw;
}

._Home_content .content__suppliers .item__supplier{
    width: 27.3579vw;
    height: 9.90099vw;
    padding: 0.7817vw;
    border: 1px solid #7e7e7e;
    border-radius: 0.93799vw;
    display: flex;
    margin-right: 1.042209vw !important;
}

._Home_content .content__suppliers .item__supplier .supplier__img{
    width: 4.6899vw !important;
    height: 6.25326vw;
    border-radius: 50%;
    margin: 0.52110vw 1.04221vw;
}

._Home_content .content__suppliers .item__supplier .supplier__info{
    display: flex;
    flex-direction: column;
    margin-left: 1.04221vw;
    margin-top: 1.30276vw;
}

._Home_content .content__suppliers .item__supplier .supplier__info .name{
    font-size: 1.459093vw;
    font-weight: 900;
    color: #0043ff;
    margin-bottom: 0.52110vw;
}

._Home_content .content__suppliers .item__supplier .supplier__info .follow{
    font-size: 1.25065vw;
    opacity: 0.3;
}

/* Content Experiences */

._Home_content .content__experiences .item__experience{
    padding: 0.26055vw 0.52110vw;
    border: 1px solid #c5c5c5;
    width: 97%;
    /* height: 409px; */
    display: flex;
    flex-direction: column;
}

._Home_content .content__experiences .item__experience .experience__up{
    display: flex;
    justify-content: space-between;
}
._Home_content .content__experiences .item__experience .experience__up .contan{
    display: flex;
}

._Home_content .content__experiences .item__experience .experience__up .contan .up__img{
    width: 5.2110vw !important;
    height: 5.99270vw;
    border-radius: 50%;
    /* margin: 24px 20px; */
    margin-top: 2.6055vw;
    margin-left: 2.6055vw;
}

._Home_content .content__experiences .item__experience .experience__up .contan .up__info{
    margin-top: 3.38718vw;
    display: flex;
    flex-direction: column;
    margin-left: 0.78166vw;
}

._Home_content .content__experiences .item__experience .experience__up .contan .up__info .name{
    font-size: 1.71965vw;
    font-weight: bold;
    color: #707070;
    margin-bottom: 0.05211vw;
}

._Home_content .content__experiences .item__experience .experience__up .contan .up__info .follow{
    font-size: 1.459093vw;
    /* opacity: 0.3; */
    color: #0136EE;
}

._Home_content .content__experiences .item__experience .experience__up .contan .up__rate{
    margin-top: 3.64773vw;
    margin-left: 2.8660vw;
    
}
._Home_content .content__experiences .item__experience .experience__up .contan .up__rate .icon{
    font-size: 1.71965vw;
}
._Home_content .content__experiences .item__experience .experience__up .contan .up__rate span{
    color: #00244D;
    font-weight: bold;
    font-size: 1.823867vw;
}

._Home_content .content__experiences .item__experience .experience__up .up__time{
    font-size: 1.459093vw;
    color: #6e6e6e;
}

._Home_content .content__experiences .item__experience .experience__mid{
    margin: 0.10422vw 8.49400vw;
}

._Home_content .content__experiences .item__experience .experience__mid .mid__text{
    font-size: 1.042209vw;
    color: #707070;
}

._Home_content .content__experiences .item__experience .experience__down{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1.56331vw;
    margin-bottom: 1.56331vw;
}

._Home_content .content__experiences .item__experience .experience__down .down__details{
    margin-left: 8.49401vw;
    font-size: 1.25065vw;
}

._Home_content .content__experiences .item__experience .experience__down .down__icons{
    display: flex;
    margin-right: 2.8661vw;
}

._Home_content .content__experiences .item__experience .experience__down .down__icons .icons{
    margin-left: 2.34497vw;
    display: flex;
    align-items: center;
}

._Home_content .content__experiences .item__experience .experience__down .down__icons .icons .icon{
    font-size: 1.719646vw;
    /* margin-left: 92px; */
    opacity: 0.3;
}

._Home_content .content__experiences .item__experience .experience__down .down__icons .icons span{
    font-size: 1.042209vw;
    color: #0136EE;
    margin-left:  0.312663vw;
}

/* Footer */

.__footer{
    width: 85%;
    margin: auto;
    padding-bottom: 1.9270833vw;
    margin-top: 7vw;
    position: relative;
  }
  
  .footer__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 5.2083vw;
    padding: 0.78125vw 3.125vw;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E9E9E9;
    border-radius: 30px;
    margin: auto;
  }
  
  .footer_item .footer_btn{
    text-decoration: none;
    color: #000;
  }
  
  .footer_item  .footer_btn .footer_icon{
    font-size: 1.822vw;
    opacity: 0.5;
  }
  .footer_item  .footer_btn .footer_icon:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
  }
  
  .footer_item .logo{
    width: 7.03125vw;
    margin-top: -1.5625vw;
    padding: 1.0416vw;
    border-radius: 50%;
    background: #f3f3f3;
  }
  


  .hiddding{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }
/****************************** Responsive ******************************/
